h1 {
  @include font($font-size: 30px, $line-height: 35px, $font-weight: 100, $color: #000);
}

h2 {
  @include font($font-size: 25px, $line-height: 30px, $font-weight: 100, $color: #000);
}

h3 {
  @include font($font-size: 15px, $line-height: 20px, $font-weight: 700, $color: #000);
}

h4 {
  @include font($font-size: 12px, $line-height: 15px, $font-weight: 700, $color: $titles);
}

h5 {
  @include font($font-size: 15px, $line-height: 20px, $font-weight: 700, $color: $titles);
}

p {
  @include font($font-size: 16px, $line-height: 25px, $font-weight: 400, $color: $text-light);
}

a {
  color: $orange;
  text-decoration: none;
}

h3,
h4,
h5 {
  text-transform: uppercase;
}

.title1 {
  text-transform: uppercase;
}

.prime {
  li {
    list-style-type: none;
    position: relative;
    padding-left: 15px;

    &::before {
      position: absolute;
      content: "";
      background-color: $orange;
      width: 5px;
      height: 5px;
      border-radius: 100%;
      left: 0;
      top: 12px;
      transform: translateY(-4px);
    }
  }
}