@font-face {
  font-family: "Trivia sans";
  font-weight: 100;
  src: url(../fonts/TriviaSansLight.otf);
}

@font-face {
  font-family: "Trivia sans";
  font-weight: 400;
  src: url(../fonts/TriviaSansRegular.otf);
}

@font-face {
  font-family: "Trivia sans";
  font-weight: 700;
  src: url(../fonts/TriviaSansRegular-Bold.otf);
}
