$base-font: "Helvetica", "Arial", sans-serif;
$lines-color: #ddd;
$text-color: #000;
$black: #000;
$orange: #dc4405;
$orange2: #de470a;
$brown: #603d20;
$cream: #efd19f;
$bg-grey: #ebecf3;
$texty: #000;
$text-light: #333;
$lines-white: #ddd;
$lines-grey: #dde;
$titles: #bbc;
$dividers: #667;
$bg-insta: #556;
$bg-foot: #445;
$white: #fff;

@mixin font($font-size: 16px, $line-height: 24px, $font-weight: 400, $color: $text-color) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $color;
}

%clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

%grid-padding {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;

  @media #{$tablet-widths} {
    padding-left: 94px;
    padding-right: 94px;
  }
}

%grid-padding20 {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

%grid-padding20-footer {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;

  @media #{$tablet-widths} {
    padding-left: 0;
    padding-right: 0;
  }
}

%grid-margin {
  box-sizing: border-box;
  margin-left: 94px;
  margin-right: 94px;
}

%center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%container {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;

  @media #{$tablet-widths} {
    width: 768px;
  }

  @media #{$desktop-widths} {
    width: 1240px;
  }
}

%container2 {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  @media #{$tablet-widths} {
    width: 100%;
  }

  @media #{$desktop-widths} {
    width: 1240px;
  }
}

%container3 {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;

  @media #{$tablet-widths} {
    width: 768px;
  }

  @media #{$desktop-widths} {
    width: 100%;
  }
}
