<!DOCTYPE html>
<html lang="en">

<head>
  //= include/head.html
</head>

<body>
  <div class="container">
    //= include/header.html
    <div class="major">
      <div class="major__center">
        //= include/breadcrumbs.html
        <main class="major__m item-page" style="background-color: #ccc; max-width: 1200px; margin-left: auto; margin-right: auto; padding-left: 20px; padding-right: 20px;">
          <form action="">
            <input type="radio" name="gg" id="dd"><label for="dd">Радио кнопка</label><input type="radio" name="gg" id="ss"><label for="ss">Радио кнопка</label>
          </form>
          <div>
            <input type="checkbox" name="check" id="check"><label for="check">чекбокс</label>
          </div>
          <div>
            <table>
              <tr>
                <td>Заголовок столбца</td>
                <td>Заголовок столбца</td>
              </tr>
              <tr>
                <td>Описание столбцыа таблицы</td>
                <td>Описание столбцыа таблицы</td>
              </tr>
              <tr>
                <td>Описание столбцыа таблицы</td>
                <td>Описание столбцыа таблицы</td>
              </tr>
              <tr>
                <td>Описание столбцыа таблицы</td>
                <td>Описание столбцыа таблицы</td>
              </tr>
            </table>
            <div class="prime">
              <ol>
                <li><span>1</span>Lorem.</li>
                <li><span>2</span>Nobis!</li>
                <li><span>3</span>Ipsum.</li>
                <li><span>4</span>Rerum?</li>
                <li><span>5</span>Assumenda.</li>
              </ol>
              <ul>
                <li><span>1</span>Lorem.</li>
                <li><span>2</span>Nobis!</li>
                <li><span>3</span>Ipsum.</li>
                <li><span>4</span>Rerum?</li>
                <li><span>5</span>Assumenda.</li>
              </ul>
            </div>
          </div>
        </main>
        <div id="system-message-container">
          <div id="system-message"></div>
        </div>
      </div>
    </div>
    //= include/footer.html
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="js/animatescroll.min.js"></script>
  <script src="js/dropdown.min.js"></script>
  <script src="js/main.min.js"></script>
</body>

</html>