<!DOCTYPE html>
<html lang="en">
  <head>
    //= include/head.html
  </head>
  <body>
    <div class="container">
      //= include/header.html
      <div class="major">
        <div class="major__center">
          //= include/breadcrumbs.html
          <main class="major__m item-page">
            <div class="major__m-elem prime__title">
              <h1>Фотогалерея</h1>
            </div>
            //= include/gallery-item.html
          </main>
          <div id="system-message-container">
            <div id="system-message"></div>
          </div>
        </div>
      </div>
      //= include/footer.html
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>
