<!DOCTYPE html>
<html lang="en">
  <head>
    //= include/head.html
  </head>
  <body>
    <div class="container">
      //= include/header.html
      <div class="welcome__wrapper">
        <section class="welcome">
          <h1 class="welcome__title">Профессиональная школа BritBob <br>для парикмахеров</h1>
          <p class="welcome__descr">Британские техники и качественное образование для начинающих и практикующих парикмахеров</p>
          <a href="" class="button-link welcome__link">Расписание курсов<span class="button-link__arrow-r"></span></a>
          <div class="welcome__image"></div>
        </section>
        
      </div>
      <div class="lvls__wrapper">
        <section class="lvls">
          <article class="lvls__lvl">
            <header class="lvls__lvl-header lvls__lvl-header--1">
              <p class="lvls__lvl-value"><span class="lvls__lvl-value-inner">Уровень 1</span></p>
              <h2 class="lvls__lvl-header-title">Курсы для начинающих парикмахеров</h2>
            </header>
            <div class="lvls__lvl-content">
              <a class="lvls__lvl-content-link">
                <article class="lvls__lvl-item">
                  <h3 class="lvls__lvl-item-title">Британская классика</h3>
                  <p class="lvls__lvl-item-descr">Базовый курс для обучения начинающих с нуля</p>
                </article>
                <div class="lvls__lvl-arrow-r">
                  <div class="pop-arrow"></div>
                </div>
              </a>
              <a class="lvls__lvl-content-link">
                <article class="lvls__lvl-item">
                  <h3 class="lvls__lvl-item-title">Прически из длинных волос</h3>
                  <p class="lvls__lvl-item-descr">Вечерние, свадебные укладки, прически для начинающих</p>
                </article>
                <div class="lvls__lvl-arrow-r">
                  <div class="pop-arrow"></div>
                </div>
              </a>
              <a class="lvls__lvl-content-link">
                <article class="lvls__lvl-item">
                  <h3 class="lvls__lvl-item-title">Техники окрашивания волос</h3>
                  <p class="lvls__lvl-item-descr">Обучение новым техникам. Тренинги для молодых колористов</p>
                </article>
                <div class="lvls__lvl-arrow-r">
                  <div class="pop-arrow"></div>
                </div>
              </a>
            </div>
          </article>
          <article class="lvls__lvl">
            <header class="lvls__lvl-header lvls__lvl-header--2">
              <p class="lvls__lvl-value"><span class="lvls__lvl-value-inner">Уровень 2</span></p>
              <h2 class="lvls__lvl-header-title">Курсы для практикующих парикмахеров</h2>
            </header>
            <div class="lvls__lvl-content">
              <a class="lvls__lvl-content-link">
                <article class="lvls__lvl-item">
                  <h3 class="lvls__lvl-item-title">Мастер классы</h3>
                  <p class="lvls__lvl-item-descr">Семинары и мастер классы по стрижкам и окрашиванию</p>
                </article>
                <div class="lvls__lvl-arrow-r">
                  <div class="pop-arrow"></div>
                </div>
              </a>
              <a class="lvls__lvl-content-link">
                <article class="lvls__lvl-item">
                  <h3 class="lvls__lvl-item-title">Семинары по колористике</h3>
                  <p class="lvls__lvl-item-descr">Семинары по техникам окрашивания и цветотипированию</p>
                </article>
                <div class="lvls__lvl-arrow-r">
                  <div class="pop-arrow"></div>
                </div>
              </a>
              <a class="lvls__lvl-content-link">
                <article class="lvls__lvl-item">
                  <h3 class="lvls__lvl-item-title">Индивидуальные тренинги</h3>
                  <p class="lvls__lvl-item-descr">Интенсивные тренинги для парикмахеров, тема по запросу</p>
                </article>
                <div class="lvls__lvl-arrow-r">
                  <div class="pop-arrow"></div>
                </div>
              </a>
            </div>
          </article>
          <article class="lvls__lvl">
            <header class="lvls__lvl-header lvls__lvl-header--3">
              <p class="lvls__lvl-value"><span class="lvls__lvl-value-inner">Уровень 3</span></p>
              <h2 class="lvls__lvl-header-title">Курсы иностранных специалистов <br>(с переводчиком)</h2>
            </header>
            <div class="lvls__lvl-content lvls__lvl-content--4row">
              <a class="lvls__lvl-content-link">
                <article class="lvls__lvl-item">
                  <h3 class="lvls__lvl-item-title">Vidal Sassoon Academy</h3>
                </article>
                <div class="lvls__lvl-arrow-r">
                  <div class="pop-arrow"></div>
                </div>
              </a>
              <a class="lvls__lvl-content-link">
                <article class="lvls__lvl-item">
                  <h3 class="lvls__lvl-item-title">ZGAT</h3>
                </article>
                <div class="lvls__lvl-arrow-r">
                  <div class="pop-arrow"></div>
                </div>
              </a>
              <a class="lvls__lvl-content-link">
                <article class="lvls__lvl-item">
                  <h3 class="lvls__lvl-item-title">Jan Przhemyk</h3>
                </article>
                <div class="lvls__lvl-arrow-r">
                  <div class="pop-arrow"></div>
                </div>
              </a>
              <a class="lvls__lvl-content-link">
                <article class="lvls__lvl-item">
                  <h3 class="lvls__lvl-item-title">Kim Martin</h3>
                </article>
                <div class="lvls__lvl-arrow-r">
                  <div class="pop-arrow"></div>
                </div>
              </a>
            </div>
          </article>
        </section>
      </div>
      <div class="major">
        <div class="major__center">
          <div class="major__main-wrapper major__main-wrapper--solid">
            <main class="major__main major__main--solid item-page">
              <h1>Заголовок</h1>
              <p>Школа Парикмахеров BritBob была образована в 2012 году группой «инициативных товарищей», куда входили преподаватели парикмахерского искусства, недовольные современным уровнем профессионального образования. Мы ни в коем случае не имеем ввиду государственные академические заведения, где профессией овладевают несколько лет и разносторонне. Нет. Просто сейчас развелось очень много разных школ из разряда «парикмахер-за-три-дня» или «имиджмейкер-за-4-часа» и так далее, которые выдают вам диплом парикмахера-модельера за десятидневный курс, но при этом абсолютно не дают никаких навыков. Мы, преподаватели с 20-летним стажем, знаем, что за 10 дней невозможно из случайного человека сделать парикмахера. И никакой гипноз или самовнушение вам в этом не поможет.</p>
              <p>Скажем по секрету, что всю базовую теорию стрижки можно вычитать за 10 дней, это так) но это никак не научит вас стричь людей, потому что стричь – это навык, он приходит с постоянной тренировкой. Обратите внимание: парикмахеры даже ножницы держат по-особенному, подушечками пальцев. Попробуйте, кстати поэкспериментировать дома хотя бы с лёгкими маникюрными ножницами. Держите? А теперь немного подстригите воздух. Если пол кафельный, ножницам, скорее всего, конец. В общем, всё не так просто, как рисуют на своих рекламных листовках многие частные курсы.</p>
            </main>
          </div>
          <div id="system-message-container">
            <div id="system-message"></div>
          </div>
        </div>
      </div>
      //= include/footer.html
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>