<!DOCTYPE html>
<html lang="en">

<head>
  //= include/head.html
</head>

<body>
  <div class="container">
    //= include/header.html
    <div class="welcome__wrapper">
      <section class="welcome">
        <h1 class="welcome__title">Профессиональная школа BritBob <br>для парикмахеров</h1>
        <p class="welcome__descr">Британские техники и качественное образование для начинающих и практикующих парикмахеров</p>
        <a href="" class="button-link welcome__link">Расписание курсов<span class="button-link__arrow-r"></span></a>
        <div class="welcome__image"></div>
      </section>

    </div>
    <div class="lvls__wrapper">
      <section class="lvls">
        <article class="lvls__lvl">
          <header class="lvls__lvl-header lvls__lvl-header--1">
            <p class="lvls__lvl-value"><span class="lvls__lvl-value-inner">Уровень 1</span></p>
            <h2 class="lvls__lvl-header-title">Курсы для начинающих парикмахеров</h2>
          </header>
          <div class="lvls__lvl-content">
            <a class="lvls__lvl-content-link">
              <article class="lvls__lvl-item">
                <h3 class="lvls__lvl-item-title">Британская классика</h3>
                <p class="lvls__lvl-item-descr">Базовый курс для обучения начинающих с нуля</p>
              </article>
              <div class="lvls__lvl-arrow-r">
                <div class="pop-arrow"></div>
              </div>
            </a>
            <a class="lvls__lvl-content-link">
              <article class="lvls__lvl-item">
                <h3 class="lvls__lvl-item-title">Прически из длинных волос</h3>
                <p class="lvls__lvl-item-descr">Вечерние, свадебные укладки, прически для начинающих</p>
              </article>
              <div class="lvls__lvl-arrow-r">
                <div class="pop-arrow"></div>
              </div>
            </a>
            <a class="lvls__lvl-content-link">
              <article class="lvls__lvl-item">
                <h3 class="lvls__lvl-item-title">Техники окрашивания волос</h3>
                <p class="lvls__lvl-item-descr">Обучение новым техникам. Тренинги для молодых колористов</p>
              </article>
              <div class="lvls__lvl-arrow-r">
                <div class="pop-arrow"></div>
              </div>
            </a>
          </div>
        </article>
        <article class="lvls__lvl">
          <header class="lvls__lvl-header lvls__lvl-header--2">
            <p class="lvls__lvl-value"><span class="lvls__lvl-value-inner">Уровень 2</span></p>
            <h2 class="lvls__lvl-header-title">Курсы для практикующих парикмахеров</h2>
          </header>
          <div class="lvls__lvl-content">
            <a class="lvls__lvl-content-link">
              <article class="lvls__lvl-item">
                <h3 class="lvls__lvl-item-title">Мастер классы</h3>
                <p class="lvls__lvl-item-descr">Семинары и мастер классы по стрижкам и окрашиванию</p>
              </article>
              <div class="lvls__lvl-arrow-r">
                <div class="pop-arrow"></div>
              </div>
            </a>
            <a class="lvls__lvl-content-link">
              <article class="lvls__lvl-item">
                <h3 class="lvls__lvl-item-title">Семинары по колористике</h3>
                <p class="lvls__lvl-item-descr">Семинары по техникам окрашивания и цветотипированию</p>
              </article>
              <div class="lvls__lvl-arrow-r">
                <div class="pop-arrow"></div>
              </div>
            </a>
            <a class="lvls__lvl-content-link">
              <article class="lvls__lvl-item">
                <h3 class="lvls__lvl-item-title">Индивидуальные тренинги</h3>
                <p class="lvls__lvl-item-descr">Интенсивные тренинги для парикмахеров, тема по запросу</p>
              </article>
              <div class="lvls__lvl-arrow-r">
                <div class="pop-arrow"></div>
              </div>
            </a>
          </div>
        </article>
        <article class="lvls__lvl">
          <header class="lvls__lvl-header lvls__lvl-header--3">
            <p class="lvls__lvl-value"><span class="lvls__lvl-value-inner">Уровень 3</span></p>
            <h2 class="lvls__lvl-header-title">Курсы иностранных специалистов <br>(с переводчиком)</h2>
          </header>
          <div class="lvls__lvl-content lvls__lvl-content--4row">
            <a class="lvls__lvl-content-link">
              <article class="lvls__lvl-item">
                <h3 class="lvls__lvl-item-title">Vidal Sassoon Academy</h3>
              </article>
              <div class="lvls__lvl-arrow-r">
                <div class="pop-arrow"></div>
              </div>
            </a>
            <a class="lvls__lvl-content-link">
              <article class="lvls__lvl-item">
                <h3 class="lvls__lvl-item-title">ZGAT</h3>
              </article>
              <div class="lvls__lvl-arrow-r">
                <div class="pop-arrow"></div>
              </div>
            </a>
            <a class="lvls__lvl-content-link">
              <article class="lvls__lvl-item">
                <h3 class="lvls__lvl-item-title">Jan Przhemyk</h3>
              </article>
              <div class="lvls__lvl-arrow-r">
                <div class="pop-arrow"></div>
              </div>
            </a>
            <a class="lvls__lvl-content-link">
              <article class="lvls__lvl-item">
                <h3 class="lvls__lvl-item-title">Kim Martin</h3>
              </article>
              <div class="lvls__lvl-arrow-r">
                <div class="pop-arrow"></div>
              </div>
            </a>
          </div>
        </article>
      </section>
    </div>
    <div class="last-news__wrapper">
      <section class="last-news">
        <div class="last-news__title">последние новости</div>
        <a href="#" class="last-news__item"><img src="img/content/mob-strijka-mujskaya.jpg" alt="">
          <p>Заголовок новости в несколько строк, три строки на одну новость с заголовком</p>
        </a>
        <a href="#" class="last-news__item"><img src="img/content/mob-strijka-mujskaya.jpg" alt="">
          <p>Заголовок новости в несколько строк, три строки на одну новость с заголовком</p>
        </a>
        <a href="#" class="last-news__item"><img src="img/content/mob-strijka-mujskaya.jpg" alt="">
          <p>Заголовок новости в несколько строк, три строки на одну новость с заголовком</p>
        </a>
        <a href="#" class="last-news__link">все новости</a>
      </section>
    </div>
    <div class="school-about__wrapper">
      <section class="school-about">
        <div class="school-about__sup">
          <h2 class="school-about__sup-title">О школе BritBob</h2>
          <div class="school-about__sup-text">
            <p>Школа Парикмахеров BritBob была образована в 2012 году группой «инициативных товарищей», куда входили преподаватели парикмахерского искусства, недовольные современным уровнем профессионального образования. Мы, преподаватели с 20-летним стажем, знаем, что за 10 дней невозможно из случайного человека сделать парикмахера. И никакой гипноз или самовнушение вам в этом не поможет. И никакой гипноз или самовнушение вам в этом не поможет.</p>
          </div>
          <a href="#" class="school-about__sup-link">О нашей школе</a>
        </div>
        <div class="school-about__sub">
          <div class="owl-carousel school-about__sub-slider">
            <div class="item">
              <b>Наталья Ценова</b>
              <blockquote>Пара слов преподавателя о школе, своем курсе или советы для начинающих обучение в школе</blockquote>
              <img src="img/index-teacher.png" alt="">
            </div>
            <div class="item">
              <b>Наталья Ценова</b>
              <blockquote>Пара слов преподавателя о школе, своем курсе или советы для начинающих обучение в школе</blockquote>
              <img src="img/index-teacher.png" alt="">
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="latest-blog__wrapper">
      <section class="latest-blog">
        <b>Последние записи в Блоге</b>
        <div class="latest-blog__item">
          <a class="latest-blog__item-left" href="#"><img src="img/content/mob-rabota-v-studii.jpg" alt="" class="latest-blog__item-left-image"></a>
          <div class="latest-blog__item-right">
            <span class="latest-blog__item-right-time">25 февраля</span>
            <h2 class="latest-blog__item-right-title">заголовок записи в блоге в одну или две строки
            </h2>
            <p class="latest-blog__item-right-descr">Школа Парикмахеров BritBob была образована в 2012 году группой «инициативных товарищей», куда входили лучшие преподавател и...</p>
            <div class="latest-blog__item-right-spec">
              обучение
            </div>
          </div>
        </div>
        <div class="latest-blog__item">
          <a class="latest-blog__item-left" href="#"><img src="img/content/mob-rabota-v-studii.jpg" alt="" class="latest-blog__item-left-image"></a>
          <div class="latest-blog__item-right">
            <span class="latest-blog__item-right-time">25 февраля</span>
            <h2 class="latest-blog__item-right-title">заголовок записи в блоге в одну или две строки
            </h2>
            <p class="latest-blog__item-right-descr">Школа Парикмахеров BritBob была образована в 2012 году группой «инициативных товарищей», куда входили лучшие преподавател и...</p>
            <div class="latest-blog__item-right-spec">
              обучение
            </div>
          </div>
        </div>
        <a href="#" class="latest-blog__link">все записи</a>
      </section>
    </div>
    <div class="our-inst__wrapper">
      <section class="our-inst">
        <b>живой репортаж из instagram</b>
        <div class="our-inst__item">
          <img src="img/content/mob-strijka-mujskaya.jpg" alt="">
          <div class="our-inst__item-descr">
            <img src="img/inst-author.png" alt="">
            <div class="our-inst__item-descr-bunch">
              <span>Изучаем геометрию стрижки</span>
              <span>3 часа назад</span>
            </div>
          </div>
        </div>
        <div class="our-inst__item">
          <img src="img/content/mob-strijka-mujskaya.jpg" alt="">
          <div class="our-inst__item-descr">
            <img src="img/inst-author.png" alt="">
            <div class="our-inst__item-descr-bunch">
              <span>Изучаем геометрию стрижки</span>
              <span>3 часа назад</span>
            </div>
          </div>
        </div>
        <div class="our-inst__item">
          <img src="img/content/mob-strijka-mujskaya.jpg" alt="">
          <div class="our-inst__item-descr">
            <img src="img/inst-author.png" alt="">
            <div class="our-inst__item-descr-bunch">
              <span>Изучаем геометрию стрижки</span>
              <span>3 часа назад</span>
            </div>
          </div>
        </div>
        <div class="our-inst__item">
          <img src="img/content/mob-strijka-mujskaya.jpg" alt="">
          <div class="our-inst__item-descr">
            <img src="img/inst-author.png" alt="">
            <div class="our-inst__item-descr-bunch">
              <span>Изучаем геометрию стрижки</span>
              <span>3 часа назад</span>
            </div>
          </div>
        </div>
        <a href="#" class="our-inst__link">наш instagram</a>
      </section>
    </div>
    //= include/footer.html
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script>
    $('.school-about__sub-slider').owlCarousel({
      loop: true,
      margin: 10,
      nav: true,
      dots: false,
      touchDrag: false,
      mouseDraf: false,
      responsive: {
        0: {
          items: 1,
          nav: true
        },
        768: {
          items: 1,
          nav: true
        },
        1280: {
          nav: true,
          items: 1
        }
      }
    });
  </script>
  <script src="js/animatescroll.min.js"></script>
  <script src="js/main.min.js"></script>
</body>

</html>