<!DOCTYPE html>
<html lang="en">
  <head>
    //= include/head.html
  </head>
  <body>
    <div class="container">
      //= include/header.html
      <div class="major major--mid">
        <div class="major__center">
          //= include/breadcrumbs.html
          <div class="major__m-wrapper major__m-wrapper--grey">
            <main class="major__m major__m--solid item-page">
              <h1>Контакты</h1>
              <div class="squa squa--contacts">
                <div class="squa__col">
                  <div class="squa__col-line">
                    <div class="squa__col-line-left">E-mail:</div>
                    <div class="squa__col-line-right">info@britbob.ru</div>
                  </div>
                  <div class="squa__col-line">
                    <div class="squa__col-line-left">Телефон:</div>
                    <div class="squa__col-line-right">+7 (985) 500 71 78</div>
                  </div>
                  
                </div>
                <div class="squa__col">
                  <div class="squa__col-line">
                    <div class="squa__col-line-left">Адрес:</div>
                    <div class="squa__col-line-right">Москва, Малая Дмитровка 23/15с2</div>
                  </div>
                  <div class="squa__col-line">
                    <div class="squa__col-line-left">График:</div>
                    <div class="squa__col-line-right">Пн-Пт: 10:00 - 18:00</div>
                  </div>
                </div>
              </div>
              <p>Вход со стороны Старопименского переулка</p>
            </main>
          </div>
          <div id="system-message-container">
            <div id="system-message"></div>
          </div>
        </div>
        //= include/sidebar-left.html
      </div>
      //= include/footer.html
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>