<!DOCTYPE html>
<html lang="en">
  <head>
    //= include/head.html
  </head>
  <body>
    <div class="container">
      //= include/header.html
      <div class="major major--mid">
        <div class="major__center">
          //= include/breadcrumbs.html
          <main class="major__m major__m--grey prime item-page">
            <div class="major__m-elem prime__title">
              <h1 class="prime__title-courses">Британская классика</h1>
            </div>
            <div class="major__m-elem prime__level-value">
              <div><span class="level-value">Уровень 1</span></div>
            </div>
            <figure class="major__m-elem major__m-elem prime__image prime__image--grey">
              <img src="/img/kursy/britanskaya-klassika-tab.jpg" alt="">
            </figure>
            <div class="major__m-elem major__m-elem--blue">
              //= include/enrolment.html
            </div>
            <div class="major__m-elem major__m-elem--grey">
              <div class="extra">
                <p class="extra__price"><span>Цена:</span> 100 000 руб</p>
                <p class="extra__duration"><span>Кол-во часов:</span> 100 часов</p>
              </div>
            </div>
            <div class="prime__descr">
              <div class="major__m-elem major__m-elem--grey">
                <h2>Дополнительный подзаголовок в статье h2</h2>
                <p>Скажем по секрету, что всю базовую теорию стрижки можно вычитать за 10 дней, это так, но это никак не научит вас стричь людей, потому что стричь – это навык, он приходит с постоянной тренировкой.</p>
              </div>
            </div>
            <div class="major__m-elem major__m-elem--blue">
              //= include/enrolment.html
            </div>
          </main>
          <div id="system-message-container">
            <div id="system-message"></div>
          </div>
        </div>
        //= include/sidebar-left.html
      </div>
      //= include/gallery-module-2.html
      //= include/teacher.html
      //= include/courses-end.html
      //= include/footer.html
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>