<!DOCTYPE html>
<html lang="en">

<head>
  //= include/head.html
</head>

<body>
  <div class="container">
    //= include/header.html
    <div class="major">
      <div class="major__center">
        //= include/breadcrumbs.html
        <main class="major__m item-page">
          <div class="major__m-elem prime__title">
            <h1>Наши курсы</h1>
          </div>
          <div class="kursy">
            <div class="kursy__lvl kursy__lvl--closed">
              <div class="kursy__lvl-top">
                <div class="kursy__lvl-title">
                  <div class="kursy__lvl-title-value">Уровень 1</div>
                  <div class="pop-arrow pop-arrow--grey"></div>
                </div>
                <h2>Курсы для начинающих парикмахеров</h2>
              </div>
              <div class="kursy__list">
                <a href="/kursy/kursy-dlya-novichkov/britanskaya-klassika.html" class="kursy__list-item kurs">
                  <div class="kurs__img kurs__img--1-1"></div>
                  <div class="kurs__title">
                    <h3>Британская классика</h3>
                    <div class="pop-arrow"></div>
                  </div>
                  <div class="kurs__descr">
                    <p>Британская классика с углублённым изучением геометрии стрижки и дополнительной практикой для начинающих. Курс рассчитан на людей, не знакомых с профессией и желающих стать парикмахерами.</p>
                  </div>
                </a>
                <a href="/kursy/kursy-dlya-novichkov/prichjoski-iz-dlinnyh-volos.html" class="kursy__list-item kurs">
                  <div class="kurs__img kurs__img--1-2"></div>
                  <div class="kurs__title">
                    <h3>Причёски из длинных волос</h3>
                    <div class="pop-arrow"></div>
                  </div>
                  <div class="kurs__descr">
                    <p>Программа курса по вечерним прическам и укладкам из длинных волос, рассчитанная на парикмахеров, которые не работали с вечерними укладками или имеют мало опыта в работе с ними и на начинающих мастеров без опыта работы.</p>
                  </div>
                </a>
                <a href="/kursy/kursy-dlya-novichkov/treningi-dlya-molodyh-koloristov.html" class="kursy__list-item kurs">
                  <div class="kurs__img kurs__img--1-3"></div>
                  <div class="kurs__title">
                    <h3>Техники окрашивания волос</h3>
                    <div class="pop-arrow"></div>
                  </div>
                  <div class="kurs__descr">
                    <p>Программа рассчитана на парикмахеров, имеющих опыт работы с окрашиванием не менее полугода, быстро усваивающих информацию и желающих открыть новые творческие горизонты в колористике).</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="kursy__lvl kursy__lvl--closed">
              <div class="kursy__lvl-top">
                <div class="kursy__lvl-title">
                  <div class="kursy__lvl-title-value">Уровень 2</div>
                  <div class="pop-arrow pop-arrow--grey"></div>
                </div>
                <h2>Курсы для практикующих парикмахеров</h2>
              </div>
              <div class="kursy__list">
                <a href="/kursy/kursy-dlya-professionalov/master-klassy.html" class="kursy__list-item kurs">
                  <div class="kurs__img kurs__img--2-1"></div>
                  <div class="kurs__title">
                    <h3>Мастер классы</h3>
                    <div class="pop-arrow"></div>
                  </div>
                  <div class="kurs__descr">
                    <p>Мы проводим мастер классы с разными преподавателями на отдельные темы для практикующих дизайнеров</p>
                  </div>

                </a>
                <a href="/kursy/kursy-dlya-professionalov/seminary-po-koloristike.html" class="kursy__list-item kurs">
                  <div class="kurs__img kurs__img--2-2"></div>
                  <div class="kurs__title">
                    <h3>Семинары по колористике</h3>
                    <div class="pop-arrow"></div>
                  </div>
                  <div class="kurs__descr">
                    <p>Интенсивный тренинг для парикмахеров со стажем от 1 года, которые хотят улучшить свои знания по колористике.</p>
                  </div>
                </a>
                <a href="/kursy/kursy-dlya-professionalov/intensivnye-treningi.html" class="kursy__list-item kurs">
                  <div class="kurs__img kurs__img--2-3"></div>
                  <div class="kurs__title">
                    <h3>Индивидуальные тренинги</h3>
                    <div class="pop-arrow"></div>
                  </div>
                  <div class="kurs__descr">
                    <p>Программа интенсивной переподготовки мастера-парикмахера по британским классическим техникам стрижки. </p>
                  </div>
                </a>
              </div>
            </div>
            <div class="kursy__lvl kursy__lvl--closed">
              <div class="kursy__lvl-top">
                <div class="kursy__lvl-title">
                  <div class="kursy__lvl-title-value">Уровень 3</div>
                  <div class="pop-arrow pop-arrow--grey"></div>
                </div>
                <h2>Курсы иностранных специалистов</h2>
              </div>
              <div class="kursy__list kursy__list--four">
                <a href="/kursy/kursy-britanskih-specialistov/vidal-sassoon.html" class="kursy__list-item kurs">
                  <div class="kurs__img kurs__img--3-1"></div>
                  <div class="kurs__title">
                    <h3>Vidal Sassoon Academy</h3>
                    <div class="pop-arrow"></div>
                  </div>
                  <div class="kurs__descr">
                    <p>Представляем обучение с практикой от самой известной парикмахерской Академии мира – Sassoon Academy - в Москве.Блок ABC-Cutting посвящен знаменитой классике SASSOON, пониманию основ, законов и правил. Информация о том, как выстраивать форму стрижки, в самом чистом виде, получать актуальные формы, не выходящие из моды. Классика SASSOON представляет работы, которые легко трансформировать для любого клиента любого возраста.</p>
                  </div>

                </a>
                <a href="/kursy/kursy-britanskih-specialistov/zgat.html" class="kursy__list-item kurs">
                  <div class="kurs__img kurs__img--3-2"></div>
                  <div class="kurs__title">
                    <h3>ZGAT</h3>
                    <div class="pop-arrow"></div>
                  </div>
                  <div class="kurs__descr">
                    <p>Представляем обучение с практикой от самой известной парикмахерской Академии мира – Sassoon Academy - в Москве.Блок ABC-Cutting посвящен знаменитой классике SASSOON, пониманию основ, законов и правил. Информация о том, как выстраивать форму стрижки, в самом чистом виде, получать актуальные формы, не выходящие из моды. Классика SASSOON представляет работы, которые легко трансформировать для любого клиента любого возраста.</p>
                  </div>
                </a>
                <a href="/kursy/kursy-britanskih-specialistov/jan-przhemyk.html" class="kursy__list-item kurs">
                  <div class="kurs__img kurs__img--3-3"></div>
                  <div class="kurs__title">
                    <h3>Jan Przhemyk</h3>
                    <div class="pop-arrow"></div>
                  </div>
                  <div class="kurs__descr">
                    <p>Однодневный мастер-класс по современным мужским стрижкам и оформлению бород с возможностью отработки от нашего британского преподавателя Jan Przhemyk </p>
                  </div>
                </a>
                <a href="/kursy/kursy-britanskih-specialistov/kim-martin.html" class="kursy__list-item kurs">
                  <div class="kurs__img kurs__img--3-4"></div>
                  <div class="kurs__title">
                    <h3>Kim Martin</h3>
                    <div class="pop-arrow"></div>
                  </div>
                  <div class="kurs__descr">
                    <p>Однодневный мастер-класс по современным мужским стрижкам и оформлению бород с возможностью отработки от нашего британского преподавателя Jan Przhemyk </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </main>
        <div id="system-message-container">
          <div id="system-message"></div>
        </div>
      </div>
    </div>
    //= include/footer.html
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="js/animatescroll.min.js"></script>
  <script src="js/dropdown.min.js"></script>
  <script src="js/main.min.js"></script>
</body>

</html>