<!DOCTYPE html>
<html lang="en">
  <head>
    //= include/head.html
  </head>
  <body>
    <div class="container">
      //= include/header.html
      <div class="major major--mid">
        <div class="major__center">
          //= include/breadcrumbs.html
          <main class="major__m major__m--grey prime item-page">
            <div class="major__m-elem prime__title">
              <h1 class="prime__title-courses">Британская классика</h1>
            </div>
            <div class="prime__descr">
              <div class="major__m-elem prime__level-value">
                <div><span class="level-value">Уровень 1</span></div>
              </div>
              <figure class="major__m-elem major__m-elem--grey prime__image">
                <img src="/img/kursy/level1/kurs-britanskaya-klassika.jpg" alt="">
              </figure>
              <div class="major__m-elem major__m-elem--blue">
                //= include/enrolment.html
              </div>
              <div class="major__m-elem prime__descr">
                //= include/extra--spec.html
                <p>Британская классика с углублённым изучением геометрии стрижки и дополнительной практикой для начинающих. Курс рассчитан на людей, не знакомых с профессией и желающих стать парикмахерами.</p>
                <p>Курс позволяет овладеть базовыми навыками построения геометрии стрижки, умением рассчитывать цвет и наносить краску на волосы, а так же базовыми навыками повседневных укладок волос. Содержит большое количество практических часов (более 70%) для отработки полученных знаний и приобретения навыков, необходимых для работы парикмахера, а также включает в себя дополнительный раздел по современным техникам окрашивания.&nbsp;</p>
                <p>Данный курс ориентирован на британские техники. Мы даём СИСТЕМУ построения геометрии стрижки, понимание того, какая форма наиболее подходит для данного лица, и учим создавать её.</p>
                <h2>Программа обучения:</h2>
                <h3>Блок 1 Общая теория</h3>
                <div class="extra">
                  <p class="extra__item"><span>Кол-во часов: </span> 15 часов</p>
                </div>
                <p class="title1">Содержание:</p>
                <ul>
                  <li>Знакомство с профессией. Требования, предъявляемые к современному специалисту, цели и задачи мастера-парикмахера.</li>
                  <li>Инструменты и приспособления парикмахера, правила техники безопасности при работе с ними.</li>
                  <li>Правила санитарии и гигиены, дезинфекция инструментов.</li>
                  <li>Правильный подбор одежды и обуви для работы.</li>
                  <li>Специфика работы с разными типами клиентов, правила поведения в салоне.</li>
                  <li>Знакомство с британскими парикмахерскими школами, их стилями и особенностями.</li>
                  <li>Международная терминология.</li>
                  <li>Деление головы на зоны и проборы, их правильное название в русском и английском языках.</li>
                  <li>Демонстрация преподавателем женской стрижки с применением британских техник.</li>
                  <li>Строение волос и кожи головы, их функции и особенности.</li>
                  <li>Мытье головы: назначение и способы. Технологическая последовательность процесса мытья головы.</li>
                </ul>
                <h3>Блок 2 Технология стрижки</h3>
                <div class="extra">
                  <p class="extra__item"><span>Кол-во часов: </span> 64 часа (теория) + 155 часов (практика)</p>
                </div>
                <p class="title1">Содержание:</p>
                <ul>
                  <li>Отличительные особенности женских и мужских стрижек. Стрижки «унисекс».</li>
                  <li>9 базовых техник стрижки, их назначение и применение,&nbsp;конструирование стрижки с помощью комбинирования техник в зависимости от типа и особенностей лица.</li>
                  <li>Как правильно зарисовать демонстрацию стрижки на рабочем листе.</li>
                  <li>Техники укладки волос с помощью различных инструментов.</li>
                  <li>Практическая отработка под контролем преподавателя на манекен-головах и моделях.</li>
                </ul>
                <h3>Блок 3 Технология окрашивания волос</h3>
                <div class="extra">
                  <p class="extra__item"><span>Кол-во часов: </span> 40 часов (теория) + 126 часов (практика)</p>
                </div>
                <p class="title1">Содержание:</p>
                <ul>
                  <li>Натуральные пигменты волос.</li>
                  <li>Виды искусственных пигментов, особенности работы с разными видами красителей.</li>
                  <li>Цветометрия – наука о цвете.</li>
                  <li>Правила смешивания и нанесения красящих препаратов.</li>
                  <li>Теоретические задачи по окрашиванию.</li>
                  <li>Британские классические техники нанесения.</li>
                  <li>Осветление и обесцвечивание.</li>
                  <li>Мелирование классическое и цветное.</li>
                  <li>Декапаж.</li>
                  <li>Работа с седыми волосами.</li>
                  <li>Современные техники окрашивания.</li>
                  <li>Практическая отработка на моделях под контролем преподавателя.</li>
                </ul>
                <h3>Экзамен</h3>
                <div class="extra">
                  <p class="extra__item"><span>Длительность: </span> 4 часа (теория + практика)</p>
                  <p class="extra__item"><span>Экзаменаторы: </span> Виктория Инбер и Наталья Ценова</p>
                </div>
                <p>По итогам успешно сданного экзамена выдаётся Диплом Школы парикмахеров BritBoB.</p>
                <p>Запись на курс происходит после внесения предоплаты в размере не менее 10 % от стоимости курса!</p>
              </div>
              
              <div class="major__m-elem major__m-elem--blue">
                //= include/enrolment.html
              </div>
            </div>
          </main>
          <div id="system-message-container">
            <div id="system-message"></div>
          </div>
        </div>
        //= include/sidebar-left.html
      </div>
      //= include/gallery-module-2.html
      //= include/teacher.html
      //= include/courses-end.html
      //= include/footer.html
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.min.js"></script>
  </body>
</html>