<!DOCTYPE html>
<html lang="en">

<head>
  //= include/head.html
</head>

<body>
  <div class="container">
    //= include/header.html
    <div class="major">
      <div class="major__center">
        //= include/breadcrumbs.html
        <main class="major__m item-page">
          <div class="major__m-elem prime__title prime__title--white">
            <h1>Магазин</h1>
          </div>
          <div class="shop-category__wrapper">
            <div class="shop-category">
              <a class="shop-category__item" href="#">
              <img src="img/level1-bg.png" alt="" class="shop-category__item-image">
              <h3 class="shop-category__item-title">Расчески и название категории</h3>
              <p class="shop-category__item-descr">Краткое описани категории, чтобы страница не была слишком пустой</p>
            </a> <a class="shop-category__item" href="#">
              <img src="img/level1-bg.png" alt="" class="shop-category__item-image">
              <h3 class="shop-category__item-title">Расчески и название категории</h3>
              <p class="shop-category__item-descr">Краткое описани категории, чтобы страница не была слишком пустой</p>
            </a> <a class="shop-category__item" href="#">
              <img src="img/level1-bg.png" alt="" class="shop-category__item-image">
              <h3 class="shop-category__item-title">Расчески и название категории</h3>
              <p class="shop-category__item-descr">Краткое описани категории, чтобы страница не была слишком пустой</p>
            </a>
            </div>
          </div>
        </main>
        <div id="system-message-container">
          <div id="system-message"></div>
        </div>
      </div>

    </div>
    //= include/footer.html
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="js/animatescroll.min.js"></script>
  <script src="js/main.min.js"></script>
</body>

</html>