<!DOCTYPE html>
<html lang="en">

<head>
  //= include/head.html
</head>

<body>
  <div class="container">
    //= include/header.html
    <div class="major major--mid">
      <div class="major__center">
        //= include/breadcrumbs.html
        //= include/rubriki--mob.html
        <div class="major__m-wrapper major__m-wrapper--grey">
          <main class="major__m major__m--solid">
            <h1>Магазин</h1>
            <div class="shop">
              <div class="shop__item">
                <a class="shop__item-left" href="#"><img src="img/content/mob-rascheska.jpg" alt="" class="shop__item-left-image"></a>
                <div class="shop__item-right">
                  <h2 class="shop__item-right-title">Название товара
                  </h2>
                  <p class="shop__item-right-descr">Краткое описание товара здест, справа фото товара. По клику на блок открывается страничка с товаром</p>
                  <div class="shop__item-right-spec">
                    <div class="shop__item-right-spec-bunch"><span>В наличии 5 штук</span><span>2000 ₽</span></div>
                  </div>
                </div>
              </div>
              <div class="shop__item">
                <a class="shop__item-left" href="#"><img src="img/content/mob-rascheska.jpg" alt="" class="shop__item-left-image"></a>
                <div class="shop__item-right">
                  <h2 class="shop__item-right-title">Название товара
                  </h2>
                  <p class="shop__item-right-descr">Краткое описание товара здест, справа фото товара. По клику на блок открывается страничка с товаром</p>
                  <div class="shop__item-right-spec">
                    <div class="shop__item-right-spec-bunch"><span>В наличии 5 штук</span><span>2000 ₽</span></div>
                  </div>
                </div>
              </div>
              <div class="shop__item">
                <a class="shop__item-left" href="#"><img src="img/content/mob-rascheska.jpg" alt="" class="shop__item-left-image"></a>
                <div class="shop__item-right">
                  <h2 class="shop__item-right-title">Название товара
                  </h2>
                  <p class="shop__item-right-descr">Краткое описание товара здест, справа фото товара. По клику на блок открывается страничка с товаром</p>
                  <div class="shop__item-right-spec">
                    <div class="shop__item-right-spec-bunch"><span>В наличии 5 штук</span><span>2000 ₽</span></div>
                  </div>
                </div>
              </div>
              <div class="shop__item">
                <a class="shop__item-left" href="#"><img src="img/content/mob-rascheska.jpg" alt="" class="shop__item-left-image"></a>
                <div class="shop__item-right">
                  <h2 class="shop__item-right-title">Название товара
                  </h2>
                  <p class="shop__item-right-descr">Краткое описание товара здест, справа фото товара. По клику на блок открывается страничка с товаром</p>
                  <div class="shop__item-right-spec">
                    <div class="shop__item-right-spec-bunch"><span>В наличии 5 штук</span><span>2000 ₽</span></div>
                  </div>
                </div>
              </div>
              <div class="shop__item">
                <a class="shop__item-left" href="#"><img src="img/content/mob-rascheska.jpg" alt="" class="shop__item-left-image"></a>
                <div class="shop__item-right">
                  <h2 class="shop__item-right-title">Название товара
                  </h2>
                  <p class="shop__item-right-descr">Краткое описание товара здест, справа фото товара. По клику на блок открывается страничка с товаром</p>
                  <div class="shop__item-right-spec">
                    <div class="shop__item-right-spec-bunch"><span>В наличии 5 штук</span><span>2000 ₽</span></div>
                  </div>
                </div>
              </div>
            </div>
            //= include/pagination.html
          </main>
        </div>
        <div id="system-message-container">
          <div id="system-message"></div>
        </div>
      </div>
      //= include/sidebar-left.html
      //= include/sidebar-right.html
    </div>
    //= include/footer.html
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="js/animatescroll.min.js"></script>
  <script src="js/category.min.js"></script>
  <script src="js/main.min.js"></script>
</body>

</html>