<!DOCTYPE html>
<html lang="en">

<head>
  //= include/head.html
</head>

<body>
  <div class="container">
    //= include/header.html
    <div class="major major--mid">
      <div class="major__center">
        //= include/breadcrumbs.html
        //= include/rubriki--mob.html
        <div class="major__m-wrapper major__m-wrapper--grey major__m-wrapper--desktop-border">
          <main class="major__m major__m--solid major__m--tablet">
            <h1>Название товара</h1>
            <div class="course-global-slider course-global-slider--shop">
              <div class="owl-carousel purple-slider-shop owl-theme popup-gallery">
                <div class="item">
                  <a href="img/content/mob-trio-galery-1.jpg">
          <img src="img/content/mob-trio-galery-1.jpg" alt="">
          <figcaption>Подписи для товара</figcaption>
          </a>
                </div>
                <div class="item">
                  <a href="img/content/mob-rascheska-mini.jpg">
          <img src="img/content/mob-rascheska-mini.jpg" alt="">
          <figcaption>Подписи для товара</figcaption>
          </a>
                </div>
                <div class="item">
                  <a href="img/content/mob-trio-galery-1.jpg">
          <img src="img/content/mob-trio-galery-1.jpg" alt="">
          <figcaption>Подписи для товара</figcaption>
          </a>
                </div>
                <div class="item">
                  <a href="img/content/mob-trio-galery-1.jpg">
          <img src="img/content/mob-trio-galery-1.jpg" alt="">
          <figcaption>Подписи для товара</figcaption>
          </a>
                </div>
              </div>
            </div>
            <div class="product-item">
              <div class="product-item__gallery">
                <img src="img/content/mob-rascheska-mini.jpg" alt=""><img src="img/content/mob-trio-galery-1.jpg" alt="">
              </div>
              <div class="product-item__descr">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt fuga tempore aspernatur sunt labore dicta inventore exercitationem dignissimos, omnis odio doloribus deleniti rem sed totam a, numquam ducimus ipsum, tenetur.</p>
                <div class="product-item__descr-bunch"><span>Есть в наличии 5 шт.</span><span>2000 <b>₽</b></span></div>
                <div class="product-item__descr-bunch"><span>можно приобрести по адресу:</span><span>Школа Britbob, Москва,<br>
Малая Дмитровка 23/15</span></div>
              </div>
            </div>
          </main>
        </div>
        <div id="system-message-container">
          <div id="system-message"></div>
        </div>
      </div>
      //= include/sidebar-left.html
      //= include/sidebar-right.html
    </div>
    <div class="other-product">
      <h4>Другие товары</h4>
      <div class="owl-carousel other-product__slider">
        <a class="item" href="#">
          <div class="shop__item">
            <div class="shop__item-left"><img src="img/content/mob-rascheska.jpg" alt="" class="shop__item-left-image"></div>
            <div class="shop__item-right">
              <h2 class="shop__item-right-title">Название товара
              </h2>
              <p class="shop__item-right-descr">Краткое описание товара здест, справа фото товара. По клику на блок открывается страничка с товаром</p>
              <div class="shop__item-right-spec">
                <div class="shop__item-right-spec-bunch"><span>В наличии 5 штук</span><span>2000 ₽</span></div>
              </div>
            </div>
          </div>
        </a>
        <a class="item" href="#">
          <div class="shop__item">
            <div class="shop__item-left"><img src="img/content/mob-rascheska.jpg" alt="" class="shop__item-left-image"></div>
            <div class="shop__item-right">
              <h2 class="shop__item-right-title">Название товара
              </h2>
              <p class="shop__item-right-descr">Краткое описание товара здест, справа фото товара. По клику на блок открывается страничка с товаром</p>
              <div class="shop__item-right-spec">
                <div class="shop__item-right-spec-bunch"><span>В наличии 5 штук</span><span>2000 ₽</span></div>
              </div>
            </div>
          </div>
        </a>
        <a class="item" href="#">
          <div class="shop__item">
            <div class="shop__item-left"><img src="img/content/mob-rascheska.jpg" alt="" class="shop__item-left-image"></div>
            <div class="shop__item-right">
              <h2 class="shop__item-right-title">Название товара
              </h2>
              <p class="shop__item-right-descr">Краткое описание товара здест, справа фото товара. По клику на блок открывается страничка с товаром</p>
              <div class="shop__item-right-spec">
                <div class="shop__item-right-spec-bunch"><span>В наличии 5 штук</span><span>2000 ₽</span></div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    //= include/footer.html
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="js/animatescroll.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/purple-slider-shop.min.js"></script>
  <script src="js/other-product-slider.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/popup.min.js"></script>
  <script src="js/category.min.js"></script>
  <script src="js/main.min.js"></script>
</body>

</html>