<!DOCTYPE html>
<html lang="en">

<head>
  //= include/head.html
</head>

<body>
  <div class="container">
    //= include/header.html
    <div class="major major--mid">
      <div class="major__center">
        //= include/breadcrumbs.html
        <div class="major__m-wrapper major__m-wrapper--grey">
          <main class="major__m major__m--solid prime prime--float item-page">
            <h1>Имя преподавателя</h1>
            <figure class="prime__image prime__image--right">
              <img src="/img/teachers/natasha-cenova.png" alt="">
              <!--              <figcaption>Наталья Ценова</figcaption>-->
              <blockquote>Некоторые думают: я сейчас отучусь и — бац! — стану звездой...
                <br> Для этого надо работать
              </blockquote>
            </figure>
            <h2>Мы учим стричь профессионально</h2>
            <p>Мы ни в коем случае не имеем ввиду государственные академические заведения, где профессией овладевают несколько лет и разносторонне. Нет. Просто сейчас развелось очень много разных школ из разряда «парикмахер-за-три-дня» или «имиджмейкер-за-4-часа» и так далее, которые выдают вам диплом парикмахера-модельера за десятидневный курс, но при этом абсолютно не дают никаких навыков. Мы, преподаватели с 20-летним стажем, знаем, что за 10 дней невозможно из случайного человека сделать парикмахера. И никакой гипноз или самовнушение вам в этом не поможет.</p>
          </main>
        </div>
        <div id="system-message-container">
          <div id="system-message"></div>
        </div>
      </div>
      //= include/sidebar-left.html
    </div>
    //= include/teachers-module.html
    //= include/footer.html
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/main.min.js"></script>
</body>

</html>