<!DOCTYPE html>
<html lang="en">
  <head>
    //= include/head.html
  </head>
  <body>
    <div class="container">
      //= include/header.html
      <div class="major major--mid">
        <div class="major__center">
          //= include/breadcrumbs.html
          <div class="major__m-wrapper major__m-wrapper--grey">
            <main class="major__m major__m--solid">
              <h1>Расписание</h1>
              <div class="rasp">
                
              </div>
              //= include/pagination.html
            </main>
          </div>
          <div id="system-message-container">
            <div id="system-message"></div>
          </div>
        </div>
        //= include/sidebar-left.html
      </div>
      //= include/footer.html
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>