<div class="kursend">
	<h4>Прошедшие курсы</h4>
	<div class="kursend__list">
		<div class="kursend__list-item">
			<a class="kursend__list-item">
				<div class="kursend__list-item-img"><img></div>
				<div class="kursend__list-item-info">
					<span class="level-value">Уровень 1</span>
					<span class="kursend__list-item-info-status">Завершён</span>
				</div>
				<h5>Британская классика Март-Май 2018</h5>
			</a>
			<a class="kursend__list-item">
				<div class="kursend__list-item-img"><img></div>
				<div class="kursend__list-item-info">
					<span class="level-value">Уровень 1</span>
					<span class="kursend__list-item-info-status">Завершён</span>
				</div>
				<h5>Британская классика Март-Май 2018</h5>
			</a>
			<a class="kursend__list-item">
				<div class="kursend__list-item-img"><img></div>
				<div class="kursend__list-item-info">
					<span class="level-value">Уровень 1</span>
					<span class="kursend__list-item-info-status">Завершён</span>
				</div>
				<h5>Британская классика Март-Май 2018</h5>
			</a>
			<a class="kursend__list-item">
				<div class="kursend__list-item-img"><img></div>
				<div class="kursend__list-item-info">
					<span class="level-value">Уровень 1</span>
					<span class="kursend__list-item-info-status">Завершён</span>
				</div>
				<h5>Британская классика Март-Май 2018</h5>
			</a>
		</div>
	</div>
</div>