<div class="kursend">
  <h4>Прошедшие курсы</h4>
  <div class="kursend__list">
      <a class="kursend__list-item">
        <div class="kursend__list-item-img"><img src="img/content/mob-chernaya-model2.jpg"></div>
        <div class="kursend__list-item-info">
          <span class="level-value">Уровень 1</span>
          <span class="kursend__list-item-info-status">Завершён</span>
          <h5>Британская классика Март-Май 2018</h5>
        </div>
      </a>
      <a class="kursend__list-item">
        <div class="kursend__list-item-img"><img src="img/content/mob-chernaya-model2.jpg"></div>
        <div class="kursend__list-item-info">
          <span class="level-value">Уровень 1</span>
          <span class="kursend__list-item-info-status">Завершён</span>
          <h5>Британская классика Март-Май 2018</h5>
        </div>
      </a>
      <a class="kursend__list-item">
        <div class="kursend__list-item-img"><img src="img/content/mob-chernaya-model2.jpg"></div>
        <div class="kursend__list-item-info">
          <span class="level-value">Уровень 1</span>
          <span class="kursend__list-item-info-status">Завершён</span>
          <h5>Британская классика Март-Май 2018</h5>
        </div>
      </a>
      <a class="kursend__list-item">
        <div class="kursend__list-item-img"><img src="img/content/mob-chernaya-model2.jpg"></div>
        <div class="kursend__list-item-info">
          <span class="level-value">Уровень 1</span>
          <span class="kursend__list-item-info-status">Завершён</span>
          <h5>Британская классика Март-Май 2018</h5>
        </div>
      </a>
  </div>
</div>