<footer class="page-footer">
  <div class="page-footer__arrow">
    <a href="#" onclick="$('body').animatescroll({scrollSpeed:500,easing:'easeInQuint'});"></a>
  </div>
  <div class="page-footer__line">
    <div class="page-footer__wrapper">
      <div class="page-footer__title">Контакты</div>
      <div class="page-footer__contacts">
        <div class="page-footer__contacts-bunch">
          <div class="page-footer__contacts-bunch-left">Адрес:</div>
          <div class="page-footer__contacts-bunch-right">Москва, Малая Дмитровка 23/15</div>
        </div>
        <div class="page-footer__contacts-bunch">
          <div class="page-footer__contacts-bunch-left">E-mail:</div>
          <div class="page-footer__contacts-bunch-right"><a href="mailto:info@britbob.ru">info@britbob.ru</a></div>
        </div>
        <div class="page-footer__contacts-bunch">
          <div class="page-footer__contacts-bunch-left">Тел.:</div>
          <div class="page-footer__contacts-bunch-right">+7 (495) 215 03 32</div>
        </div>
        <div class="page-footer__contacts-bunch">
          <div class="page-footer__contacts-bunch-left">Моб.:</div>
          <div class="page-footer__contacts-bunch-right">+7 (965) 277 26 48</div>
        </div>
      </div>
    </div>
    <div class="page-footer__line2">
      <div class="page-footer__wrapper page-footer__wrapper--social">
        <div class="page-footer__title">Социальные сети</div>
        <div class="social-icons social-icons--footer">
          //= social-icons.html
        </div>
      </div>
      <div class="page-footer__wrapper">
        <div class="page-footer__title">Принимаем к оплате</div>
        <div class="page-footer__payment">
          //= payment-methods.html
        </div>
      </div>
    </div>
  </div>
  <div class="page-footer__line">
    <div class="page-footer__wrapper">
      <nav class="footernav">
        <ul class="footernav__menu">
          <li class="footernav__menu-item"><a href>Политика конфиденциальности</a></li>
          <li class="footernav__menu-item"><a href>Карта сайта</a></li>
          <li class="footernav__menu-item"><a href>Контакты</a></li>
          <li class="footernav__menu-item"><a href>О компании</a></li>
          <li class="footernav__menu-item"><a href>Реквизиты</a></li>
        </ul>
      </nav>
    </div>
    <div class="page-footer__wrapper page-footer__wrapper--copyright">
      <div class="page-footer__copyright">&copy; Britbob 2010-2018</div>
    </div>
  </div>
</footer>