<footer class="page-footer">
	<div class="page-footer__title">Контакты</div>
	<div class="page-footer__contacts">
		<div class="page-footer__contacts-bunch">
			<div class="page-footer__contacts-bunch-left">Адрес:</div>
			<div class="page-footer__contacts-bunch-right">Москва, Малая Дмитровка 23/15</div>
		</div>
		<div class="page-footer__contacts-bunch">
			<div class="page-footer__contacts-bunch-left">E-mail:</div>
			<div class="page-footer__contacts-bunch-right"><a href="mailto:info@britbob.ru">info@britbob.ru</a></div>
		</div>
		<div class="page-footer__contacts-bunch">
			<div class="page-footer__contacts-bunch-left">Тел.:</div>
			<div class="page-footer__contacts-bunch-right">+7 (495) 215 03 32</div>
		</div>
		<div class="page-footer__contacts-bunch">
			<div class="page-footer__contacts-bunch-left">Моб.:</div>
			<div class="page-footer__contacts-bunch-right">+7 (965) 277 26 48</div>
		</div>
	</div>
	<div class="page-footer__title">Социальные сети</div>
	<div class="page-footer__social">
		<a href="https://www.facebook.com/britbobschool" class="page-footer__social-item page-footer__social-item--facebook"></a>
		<a href="https://vk.com/britbob" class="page-footer__social-item page-footer__social-item--vk"></a>
		<a href="https://www.youtube.com/channel/UCGpOYfMWv7djf83iHIq9sZQ" class="page-footer__social-item page-footer__social-item--youtube"></a>
		<a href="https://www.instagram.com/brit_bob/" class="page-footer__social-item page-footer__social-item--insta"></a>
	</div>
	<div class="page-footer__title">Принимаем к оплате</div>
	<div class="page-footer__payment">
		<div class="page-footer__payment-item page-footer__payment-item--visa"></div>
		<div class="page-footer__payment-item page-footer__payment-item--mastercard"></div>
		<div class="page-footer__payment-item page-footer__payment-item--maestro"></div>
		<div class="page-footer__payment-item page-footer__payment-item--sber"></div>
	</div>
	<nav class="page-footer__nav">
		<ul class="page-footer__nav-menu">
			<li class="page-footer__nav-menu-item"><a href>Политика конфиденциальности</a></li>
			<li class="page-footer__nav-menu-item"><a href>Карта сайта</a></li>
			<li class="page-footer__nav-menu-item"><a href>Контакты</a></li>
			<li class="page-footer__nav-menu-item"><a href>О компании</a></li>
			<li class="page-footer__nav-menu-item"><a href>Реквизиты</a></li>
		</ul>
	</nav>
	<div class="page-footer__copyright">&copy; Britbob 2010-2018</div>
</footer>