<div class="fullenroll">
  <div class="fullenroll__title">
    <h4>Запись на курс: Январь-Март 2018</h4>
    <p>Первое занятие 15 января 2018 года в 10:00 по адресу Москва, Малая Дмитровка 23/15c2</p>
  </div>
  <form action="" class="fullenroll__form">
    <p>Если вы хотите записаться на курс, воспользуйтесь данной формой</p>
    <div class="fullenroll__form-bunch">
      <input type="text" class="name" placeholder="Ваше имя *" required>
      <input type="tel" class="tel" placeholder="+7(___)___-__-__ " required>
    </div>
    <div class="fullenroll__form-bunch ">
      <input type="email " class="email " placeholder="Электронная почта * ">
      <select name=" " id=" " class="fullenroll__form-select ">
       <option value=" " selected="true " disabled="disabled ">Выберите дату</option>
        <option value=" ">Январь-Март 2018</option>
        <option value=" ">Январь-Март 2018</option>
        <option value=" ">Январь-Март 2018</option>
      </select>
    </div>
    <button type="submit " class="button-link button-link--fullenroll ">Записаться на курс</button>
  </form>
</div>