<div class="fullenroll">
	<div class="fullenroll__title">
		<h4>Запись на курс: Британская классика Январь-Март 2018</h4>
		<p>Первое занятие 15 января 2018 года в 10:00 по адресу	Москва, Малая Дмитровка	23/15c2</p>
	</div>
	<form action="" class="fullenrol__form">
		<p>Если вы хотите записаться на курс, воспользуйтесь данной формой</p>
		<input type="text" class="name" placeholder="Ваше имя">
		<input type="text" class="name" placeholder="Телефон">
		<input type="email" class="email" placeholder="Электронная почта">
		<textarea name="" id="" cols="30" rows="10" placeholder="Комментарий"></textarea>
		<button type="submit">Записаться на курс</button>
	</form>
</div>