<div class="gallery">
	<div class="jg_row jg_row2">
		<div class="jg_element_cat">
			<div class="jg_imgalign_catimgs">
				<a title="IMG_0102" href="https://britbob.ru/f/i/joomgallery/originals/backstage_6/img_0102_20140412_1846569680.jpg" target="_blank" class="jg_catelem_photo jg_catelem_photo_align">
				<img src="https://britbob.ru/f/i/joomgallery/thumbnails/backstage_6/img_0102_20140412_1846569680.jpg" class="jg_photo" width="200" height="150" alt="IMG_0102" /></a>
			</div>
		</div>
		<div class="jg_element_cat">
			<div class="jg_imgalign_catimgs">
				<a title="IMG_0103" href="https://britbob.ru/f/i/joomgallery/originals/backstage_6/img_0103_20140412_1543790817.jpg" target="_blank" class="jg_catelem_photo jg_catelem_photo_align">
				<img src="https://britbob.ru/f/i/joomgallery/thumbnails/backstage_6/img_0103_20140412_1543790817.jpg" class="jg_photo" width="200" height="150" alt="IMG_0103" /></a>
			</div>
		</div>
		<div class="jg_element_cat">
			<div class="jg_imgalign_catimgs">
				<a title="IMG_0154" href="https://britbob.ru/f/i/joomgallery/originals/backstage_6/img_0154_20140412_2053899369.jpg" target="_blank" class="jg_catelem_photo jg_catelem_photo_align">
				<img src="https://britbob.ru/f/i/joomgallery/thumbnails/backstage_6/img_0154_20140412_2053899369.jpg" class="jg_photo" width="200" height="150" alt="IMG_0154" /></a>
			</div>
		</div>
		<div class="jg_element_cat">
			<div class="jg_imgalign_catimgs">
				<a title="IMG_0155" href="https://britbob.ru/f/i/joomgallery/originals/backstage_6/img_0155_20140412_2081025431.jpg" target="_blank" class="jg_catelem_photo jg_catelem_photo_align">
				<img src="https://britbob.ru/f/i/joomgallery/thumbnails/backstage_6/img_0155_20140412_2081025431.jpg" class="jg_photo" width="200" height="150" alt="IMG_0155" /></a>
			</div>
		</div>
		<div class="jg_clearboth"></div>
	</div>
	<div class="jg_row jg_row1">
		<div class="jg_element_cat">
			<div class="jg_imgalign_catimgs">
				<a title="IMG_0165" href="https://britbob.ru/f/i/joomgallery/originals/backstage_6/img_0165_20140412_1176734666.jpg" target="_blank" class="jg_catelem_photo jg_catelem_photo_align">
				<img src="https://britbob.ru/f/i/joomgallery/thumbnails/backstage_6/img_0165_20140412_1176734666.jpg" class="jg_photo" width="200" height="150" alt="IMG_0165" /></a>
			</div>
		</div>
		<div class="jg_element_cat">
			<div class="jg_imgalign_catimgs">
				<a title="IMG_0166" href="https://britbob.ru/f/i/joomgallery/originals/backstage_6/img_0166_20140412_1211969524.jpg" target="_blank" class="jg_catelem_photo jg_catelem_photo_align">
				<img src="https://britbob.ru/f/i/joomgallery/thumbnails/backstage_6/img_0166_20140412_1211969524.jpg" class="jg_photo" width="200" height="150" alt="IMG_0166" /></a>
			</div>
		</div>
		<div class="jg_element_cat">
			<div class="jg_imgalign_catimgs">
				<a title="IMG_0167" href="https://britbob.ru/f/i/joomgallery/originals/backstage_6/img_0167_20140412_1561566103.jpg" target="_blank" class="jg_catelem_photo jg_catelem_photo_align">
				<img src="https://britbob.ru/f/i/joomgallery/thumbnails/backstage_6/img_0167_20140412_1561566103.jpg" class="jg_photo" width="200" height="150" alt="IMG_0167" /></a>
			</div>
		</div>
		<div class="jg_element_cat">
			<div class="jg_imgalign_catimgs">
				<a title="IMG_0168" href="https://britbob.ru/f/i/joomgallery/originals/backstage_6/img_0168_20140412_1180542648.jpg" target="_blank" class="jg_catelem_photo jg_catelem_photo_align">
				<img src="https://britbob.ru/f/i/joomgallery/thumbnails/backstage_6/img_0168_20140412_1180542648.jpg" class="jg_photo" width="200" height="150" alt="IMG_0168" /></a>
			</div>
		</div>
		<div class="jg_clearboth"></div>
	</div>
	<div class="jg_row jg_row2">
		<div class="jg_element_cat">
			<div class="jg_imgalign_catimgs">
				<a title="IMG_0177" href="https://britbob.ru/f/i/joomgallery/originals/backstage_6/img_0177_20140412_1025152158.jpg" target="_blank" class="jg_catelem_photo jg_catelem_photo_align">
				<img src="https://britbob.ru/f/i/joomgallery/thumbnails/backstage_6/img_0177_20140412_1025152158.jpg" class="jg_photo" width="200" height="150" alt="IMG_0177" /></a>
			</div>
		</div>
		<div class="jg_element_cat">
			<div class="jg_imgalign_catimgs">
				<a title="IMG_0291" href="https://britbob.ru/f/i/joomgallery/originals/backstage_6/img_0291_20140412_1339207876.jpg" target="_blank" class="jg_catelem_photo jg_catelem_photo_align">
				<img src="https://britbob.ru/f/i/joomgallery/thumbnails/backstage_6/img_0291_20140412_1339207876.jpg" class="jg_photo" width="200" height="150" alt="IMG_0291" /></a>
			</div>
		</div>
		<div class="jg_element_cat">
			<div class="jg_imgalign_catimgs">
				<a title="IMG_0331" href="https://britbob.ru/f/i/joomgallery/originals/backstage_6/img_0331_20140412_1011116626.jpg" target="_blank" class="jg_catelem_photo jg_catelem_photo_align">
				<img src="https://britbob.ru/f/i/joomgallery/thumbnails/backstage_6/img_0331_20140412_1011116626.jpg" class="jg_photo" width="200" height="150" alt="IMG_0331" /></a>
			</div>
		</div>
		<div class="jg_element_cat">
			<div class="jg_imgalign_catimgs">
				<a title="IMG_0345" href="https://britbob.ru/f/i/joomgallery/originals/backstage_6/img_0345_20140412_1169376442.jpg" target="_blank" class="jg_catelem_photo jg_catelem_photo_align">
				<img src="https://britbob.ru/f/i/joomgallery/thumbnails/backstage_6/img_0345_20140412_1169376442.jpg" class="jg_photo" width="200" height="150" alt="IMG_0345" /></a>
			</div>
		</div>
	</div>
</div>