<div class="course-global-slider">
  <h4 class="course-global-slider__title">Школа существует уже 6 лет</h2>
    <div class="owl-carousel purple-slider owl-theme">
      <div class="item">
        <img src="img/content/mob-trio-galery-1.jpg" alt="">
      </div>
      <div class="item">
        <img src="img/content/mob-trio-galery-1.jpg" alt="">
      </div>
      <div class="item">
        <img src="img/content/mob-trio-galery-1.jpg" alt="">
      </div>
      <div class="item">
        <img src="img/content/mob-trio-galery-1.jpg" alt="">
      </div>
      <div class="item">
        <img src="img/content/mob-trio-galery-1.jpg" alt="">
      </div>
      <div class="item">
        <img src="img/content/mob-trio-galery-1.jpg" alt="">
      </div>
      <div class="item">
        <img src="img/content/mob-trio-galery-1.jpg" alt="">
      </div>
    </div>
</div>