<div class="bb_mgallery bb_mgallery--elite">
  <div class="bb_mgallery__item"><a href="img/kursy/kim-martin.jpg"><img src="img/kursy/kim-martin.jpg" alt=""></a></div>
  <div class="bb_mgallery__item"><a href="img/kursy/seminary-po-koloristike.jpg"><img src="img/kursy/seminary-po-koloristike.jpg" alt=""></a></div>
  <div class="bb_mgallery__item"><a href="img/kursy/zgat-tab.jpg"><img src="img/kursy/zgat-tab.jpg" alt=""></a></div>
  <div class="bb_mgallery__item"><a href="img/kursy/kim-martin.jpg"><img src="img/kursy/kim-martin.jpg" alt=""></a></div>
  <div class="bb_mgallery__item"><a href="img/kursy/vidal-sassoon-academy.jpg"><img src="img/kursy/vidal-sassoon-academy.jpg" alt=""></a></div>
  <div class="bb_mgallery__item"><a href="img/kursy/kim-martin.jpg"><img src="img/kursy/kim-martin.jpg" alt=""></a></div>
  <div class="bb_mgallery__item"><a href="img/kursy/kim-martin.jpg"><img src="img/kursy/kim-martin.jpg" alt=""></a></div>
  <div class="bb_mgallery__item"><a href="img/kursy/kim-martin.jpg"><img src="img/kursy/kim-martin.jpg" alt=""></a></div>
</div>