<div class="course-global-slider">
  <h4 class="course-global-slider__title">Фотографии с прошедших курсов</h2>
    <div class="owl-carousel purple-slider owl-theme popup-gallery">
      <div class="item">
        <a href="img/content/mob-trio-galery-1.jpg">
          <img src="img/content/mob-trio-galery-1.jpg" alt="">
          </a>
      </div>
      <div class="item">
        <a href="img/content/mob-trio-galery-1.jpg">
          <img src="img/content/mob-trio-galery-1.jpg" alt="">
          </a>
      </div>
      <div class="item">
        <a href="img/content/mob-strijka-jenskaya1.jpg">
          <img src="img/content/mob-strijka-jenskaya1.jpg" alt="">
          </a>
      </div>
      <div class="item">
        <a href="img/content/mob-trio-galery-1.jpg">
          <img src="img/content/mob-trio-galery-1.jpg" alt="">
          </a>
      </div>
    </div>
</div>