<header class="page-header">
  <div class="page-header__logo"><a href="/"><img src="img/logo-britbob.png" alt="Britbob logo"></a></div>
  <div class="page-header__bar">
    <nav class="mnav mnav--closed mnav--no-js">
      <button class="mnav__toggle mnav__toggle--closed" type="button">Открыть меню</button>
      <ul class="mnav__menu">
        <li class="mnav__menu-item parent">
          <a href="">Курсы для начинающих</a><span class=" parent"></span>
          <ul class="mnav__menu-stage2">
            <li class="mnav__menu-item"><a href="">Британская классика</a></li>
            <li class="mnav__menu-item"><a href="">Причёски из длинных волос</a></li>
            <li class="mnav__menu-item"><a href="">Техники окрашивания волос</a></li>
          </ul>
        </li>
        <li class="mnav__menu-item parent"><a href="">Курсы для практикующих</a></li>
        <li class="mnav__menu-item parent"><a href="">Иностранные специалисты</a></li>
        <li class="mnav__menu-item"><a href="">Расписание</a></li>
        <li class="mnav__menu-item">
          <a href="">Магазин</a><span class=" parent"></span>
          <ul class="mnav__menu-stage2">
            <li class="mnav__menu-item">
              <a href="">Категория 1</a><span class=" parent"></span>
              <ul class="mnav__menu-stage3">
                <li class="mnav__menu-item"><a href="">Пунтк 3го уровня 1</a></li>
                <li class="mnav__menu-item"><a href="">Пунтк 3го уровня 2</a></li>
                <li class="mnav__menu-item"><a href="">Пунтк 3го уровня 3</a></li>
              </ul>
            </li>
            <li class="mnav__menu-item">
              <a href="">Категория 2</a><span class=" parent"></span>
              <ul class="mnav__menu-stage3">
                <li class="mnav__menu-item"><a href="">Пунтк 3го уровня 1</a></li>
                <li class="mnav__menu-item active"><a href="">Пунтк 3го уровня 2</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="mnav__menu-item"><a href="">Блог</a></li>
        <li class="mnav__menu-item"><a href="">Наша школа</a></li>
      </ul>
    </nav>
    <div class="page-header__bar-search"><img src="img/search.svg" alt=""></div>
  </div>
</header>