<header class="page-header">
  <div class="page-header__cap" itemscope itemtype="http://schema.org/Organization">
    <div class="page-header__cap-arrow">
      <a href="">Предыдущая страница</a>
    </div>
    <a class="page-header__cap-logo" href="/"><img src="svg/logo-britbob.svg" alt="Britbob logo"></a>
    <div class="page-header__cap-info" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <a itemprop="telephone" href="tel: +79855007178">+7 (985) 500 71 78</a>
      <p><span itemprop="addressLocality">Москва</span>, <span itemprop="streetAddress">Малая Дмитровка 23/15</span></p>
    </div>
  </div>
  <div class="page-header__bar">
    //= mnav.html
    //= hnav.html
    //= social-icons--header.html
  <form class="page-header__bar-search">
    <span href="" class="page-header__bar-search-item">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20.91 21.06">
        <use xlink:href="svg/search.svg#search" />
      </svg>
      <input type="text" name="" id="" class="search">
    </span>
  </form>
</div>
</header>