<div class="page-header__wrapper">
  <header class="page-header">
    <div class="page-header__logo"><img src="img/logo.png" alt=""></div>
    <div class="page-header__bar">
      <nav class="main-nav main-nav--closed main-nav--no-js">
        <button class="main-nav__toggle" type="button">Открыть меню</button>
        <ul class="main-nav__list">
          <li class="main-nav__list-item"><a href="">Курсы для начинающих <span class="main-nav__list-item-arrow"></span></a>
            <ul class="main-nav__list-level1">
              <li class="main-nav__list-level1-item"><a href="">Британская классика</a></li>
              <li class="main-nav__list-level1-item"><a href=""></a></li>
              <li class="main-nav__list-level1-item"><a href=""></a></li>
            </ul>
          </li>
          <li class="main-nav__list-item"><a href="">Курсы для начинающих</a></li>
          <li class="main-nav__list-item"><a href="">Курсы для начинающих</a></li>
          <li class="main-nav__list-item"><a href="">Курсы для начинающих</a></li>
          <li class="main-nav__list-item"><a href="">Курсы для начинающих</a></li>
          <li class="main-nav__list-item"><a href="">Курсы для начинающих</a></li>
          <li class="main-nav__list-item"><a href="">Курсы для начинающих</a></li>
          <li class="main-nav__list-item"><a href="">Курсы для начинающих</a></li>
        </ul>
      </nav>
      <div class="page-header__bar-search"><img src="img/search.svg" alt=""></div>
    </div>
  </header>
</div>