<nav class="hnav">
	<ul class="hnav__menu">
		<li class="hnav__menu-item"><a href="/kursy.html">Наши курсы</a></li>
		<li class="hnav__menu-item hnav__menu-item--active"><a href="/timetable.html">Расписание</a></li>
		<li class="hnav__menu-item"><a href="/blog.html">Блог</a></li>
		<li class="hnav__menu-item"><a href="/about.html">О школе</a></li>
		<li class="hnav__menu-item"><a href="/shop.html">Магазин</a></li>
		<li class="hnav__menu-item active"><a href="/kontakty.html">Контакты</a></li>
	</ul>
</nav>