<div class="bb_jgallery">
	<h2>Фотогалерея</h2>
	<a name="gallery"></a>
	<div class="well well-small jg-header">	Категории  </div>
	<div class="jg_row jg_row1">
		<div class="jg_element_gal">
			<div class="jg_imgalign_gal">
				<div class="jg_photo_container">
					<a title="Backstage" href="/gallery/backstage.html">
						<img src="https://britbob.ru/f/i/joomgallery/thumbnails/backstage_6/img_0345_20140412_1169376442.jpg" class="jg_photo" alt="Backstage" />
					</a>
				</div>
			</div>
			<div class="jg_element_txt">
				<ul>
					<li>
						<a href="/gallery/backstage.html">
							<b>Backstage</b>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="jg_element_gal">
			<div class="jg_imgalign_gal">
				<div class="jg_photo_container">
					<a title="Jan + Kim" href="/gallery/jan-kim.html">
						<img src="https://britbob.ru/f/i/joomgallery/thumbnails/jan__kim_5/img_0099_20140413_1905780968.jpg" class="jg_photo" alt="Jan + Kim" />
					</a>
				</div>
			</div>
			<div class="jg_element_txt">
				<ul>
					<li>
						<a href="/gallery/jan-kim.html">
							<b>Jan + Kim</b>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="jg_element_gal">
			<div class="jg_imgalign_gal">
				<div class="jg_photo_container">
					<a title="Vidal Sassoon" href="/gallery/fotootchyoty-s-vidal-sassoon.html">
						<img src="https://britbob.ru/f/i/joomgallery/thumbnails/vidal_sassoon_2/_-__1_20140404_1119193530.jpg" class="jg_photo" alt="Vidal Sassoon" />
					</a>
				</div>
			</div>
			<div class="jg_element_txt">
				<ul>
					<li>
						<a href="/gallery/fotootchyoty-s-vidal-sassoon.html">
							<b>Vidal Sassoon</b>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="jg_clearboth"></div>
	</div>
	<div class="jg_row jg_row2">
		<div class="jg_element_gal">
			<div class="jg_imgalign_gal">
				<div class="jg_photo_container">
					<a title="Tony and Guy" href="/gallery/tony-n-guy.html">
						<img src="https://britbob.ru/f/i/joomgallery/thumbnails/tony_and_guy_3/tg11_20140405_1393769858.jpg" class="jg_photo" alt="Tony and Guy" />
					</a>
				</div>
			</div>
			<div class="jg_element_txt">
				<ul>
					<li>
						<a href="/gallery/tony-n-guy.html">
							<b>Tony and Guy</b>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="jg_clearboth"></div>
	</div>
	<div class="jg-footer">
		&nbsp;
	</div>
</div>