<nav class="mnav mnav--closed mnav--no-js">
	<button class="mnav__toggle mnav__toggle--closed" type="button">Открыть меню</button>
	<ul class="mnav__menu">
		<li class="mnav__menu-item parent">
			<a href="">Курсы для начинающих</a>
			<span class=" parent"></span>
			<ul class="mnav__menu-stage2">
				<li class="mnav__menu-item"><a href="/kurs-global.html">Британская классика</a></li>
				<li class="mnav__menu-item"><a href="/kurs-active.html">Причёски из длинных волос</a></li>
				<li class="mnav__menu-item"><a href="/kurs-global.html">Техники окрашивания волос</a></li>
			</ul>
		</li>
		<li class="mnav__menu-item parent"><a href="">Курсы для практикующих</a></li>
		<li class="mnav__menu-item parent"><a href="">Иностранные специалисты</a></li>
		<li class="mnav__menu-item"><a href="/timetable.html">Расписание</a></li>
		<li class="mnav__menu-item">
			<a href="shop-category.html">Магазин</a>
			<span class=" parent"></span>
			<ul class="mnav__menu-stage2">
				<li class="mnav__menu-item">
					<a href="staff.html">staff</a>
					<span class=" parent"></span>
					<ul class="mnav__menu-stage3">
						<li class="mnav__menu-item"><a href="">Пунтк 3го уровня 1</a></li>
						<li class="mnav__menu-item"><a href="">Пунтк 3го уровня 2</a></li>
						<li class="mnav__menu-item"><a href="">Пунтк 3го уровня 3</a></li>
					</ul>
				</li>
				<li class="mnav__menu-item">
					<a href="">Категория 2</a>
					<span class=" parent"></span>
					<ul class="mnav__menu-stage3">
						<li class="mnav__menu-item"><a href="">Пунтк 3го уровня 1</a></li>
						<li class="mnav__menu-item active"><a href="">Пунтк 3го уровня 2</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="mnav__menu-item">
			<a href="">Блог</a>
			<span class=" parent"></span>
			<ul class="mnav__menu-stage2">
				<li class="mnav__menu-item"><a href="/article.html">Article</a></li>
			</ul>
		</li>
		<li class="mnav__menu-item">
			<a href="/about.html">Наша школа</a>
			<span class=" parent"></span>
			<ul class="mnav__menu-stage2">
				<li class="mnav__menu-item">
					<a href="/prepodavateli.html">Преподаватели</a>
					<span class=" parent"></span>
					<ul class="mnav__menu-stage3">
						<li class="mnav__menu-item"><a href="/teacher.html">teacher.html</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="mnav__menu-item parent">
			<a href="/gallery-album.html">Фотогалерея альбомы gallery-album</a>
			<span class=" parent"></span>
			<ul class="mnav__menu-stage2">
				<li class="mnav__menu-item"><a href="/gallery-magnific.html">Внутренняя фотогалерея gallery-magnific</a></li>
				<li class="mnav__menu-item"><a href="/gallery-item.html">gallery-item</a></li>
			</ul>
		</li>
		<li class="mnav__menu-item parent">
			<a href="/jgallery.html">J_Фотогалерея</a>
			<span class=" parent"></span>
			<ul class="mnav__menu-stage2">
				<li class="mnav__menu-item"><a href="/jgallery-cat.html">Дочерняя jgallery-cat</a></li>
			</ul>
		</li>
	</ul>
</nav>