<div class="pagination">
  <ul>
<!--    <li class="pagination-start"><span class="pagenav">В начало</span></li>-->
    <li class="pagination-prev"><span class="pagenav">Назад</span></li>
    <li><span class="pagenav">1</span></li>
    <li><a href="/blog.html?start=3" class="pagenav">2</a></li>
    <li><a href="/blog.html?start=6" class="pagenav">3</a></li>
    <li><a href="/blog.html?start=9" class="pagenav">4</a></li>
    <li><a href="/blog.html?start=12" class="pagenav">5</a></li>
    <li><a href="/blog.html?start=15" class="pagenav">...</a></li>
    <li><a href="/blog.html?start=18" class="pagenav">20</a></li>
    <li class="pagination-next"><a title="Вперёд" href="/blog.html?start=3" class="hasTooltip pagenav">Вперёд</a></li>
<!--    <li class="pagination-end"><a title="В конец" href="/blog.html?start=18" class="hasTooltip pagenav">В конец</a></li>-->
  </ul>
</div>