<nav class="rubriki rubriki--mob moduletable">
	<p>Рубрики</p>
	
	<ul class=" rubriki__list">
		<li class=" rubriki__list-item  active">
			<a href="/blog/obuchenie.html">Обучение<span> (2)</span></a>
		</li>
		<li class=" rubriki__list-item ">
			<a href="/blog/news.html">Новости<span> (14)</span>
			</a>
		</li>
		<li class=" rubriki__list-item ">
			<a href="/blog/video-reportaji.html">Видеорепортажи<span> (2)</span>
			</a>
		</li>
		<li class=" rubriki__list-item ">
			<a href="/blog/istorii-iz-jizni.html">Истории из жизни<span> (2)</span>
			</a>
		</li>
	</ul>
</nav>