<div class="sidebar-left">
	<nav class="kursynav">
		<ul class="kursynav__menu">
			<li class="kursynav__menu-item item-166 deeper parent">		<a href="/kursy/kursy-dlya-novichkov.html" >Курсы для начинающих</a><span class="parent"></span>
			<ul class="kursynav__menu-stage2">
				<li class="kursynav__menu-item item-167">		<a href="/kursy/kursy-dlya-novichkov/britanskaya-klassika.html" >Британская классика</a>	</li>
				<li class="kursynav__menu-item item-168">		<a href="/kursy/kursy-dlya-novichkov/prichjoski-iz-dlinnyh-volos.html" >Причёски из длинных волос</a>	</li>
				<li class="kursynav__menu-item item-169">		<a href="/kursy/kursy-dlya-novichkov/treningi-dlya-molodyh-koloristov.html" >Техники окрашивания волос</a>	</li>
			</ul>
		</li>
		<li class="kursynav__menu-item item-170 deeper parent">		<a href="/kursy/kursy-dlya-professionalov.html" >Курсы для профессионалов</a><span class="parent"></span>
		<ul class="kursynav__menu-stage2">
			<li class="kursynav__menu-item item-171">		<a href="/kursy/kursy-dlya-professionalov/master-klassy.html" >Мастер классы</a>	</li>
			<li class="kursynav__menu-item item-172">		<a href="/kursy/kursy-dlya-professionalov/seminary-po-koloristike.html" >Семинары по колористике</a>	</li>
			<li class="kursynav__menu-item item-173">		<a href="/kursy/kursy-dlya-professionalov/intensivnye-treningi.html" >Индивидуальные тренинги</a>	</li>
		</ul>
	</li>
	<li class="kursynav__menu-item item-174 deeper parent">		<a href="/kursy/kursy-britanskih-specialistov.html" >Иностранные специалисты</a><span class="parent"></span>
	<ul class="kursynav__menu-stage2">
		<li class="kursynav__menu-item item-175">		<a href="/kursy/kursy-britanskih-specialistov/vidal-sassoon.html" >Vidal Sassoon Academy</a>	</li>
		<li class="kursynav__menu-item item-176">		<a href="/kursy/kursy-britanskih-specialistov/zgat.html" >ZGAT</a>	</li>
		<li class="kursynav__menu-item item-177">		<a href="/kursy/kursy-britanskih-specialistov/jan-przhemyk.html" >Jan Przhemyk</a>	</li>
		<li class="kursynav__menu-item item-178">		<a href="/kursy/kursy-britanskih-specialistov/kim-martin.html" >Kim Martin</a>	</li>
	</ul>
</li>
</ul>
</nav>
</div>