<div class="social-icons social-icons--header">
	<a href="https://www.facebook.com/britbobschool" class="social-icons__item">
		<svg class="social-icons__item-svg social-icons__item-svg--facebook" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32">
			<use xlink:href="svg/facebook.svg#facebook" />
		</svg>
	</a>
	<a href="https://vk.com/britbob" class="social-icons__item">
		<svg class="social-icons__item-svg social-icons__item-svg--vk" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32">
			<use xlink:href="svg/vk.svg#vk" />
		</svg>
	</a>
	<a href="https://www.youtube.com/channel/UCGpOYfMWv7djf83iHIq9sZQ" class="social-icons__item">
		<svg class="social-icons__item-svg social-icons__item-svg--youtube" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32">
			<use xlink:href="svg/youtube.svg#youtube" />
		</svg>
	</a>
	<a href="https://www.instagram.com/brit_bob/" class="social-icons__item">
		<svg class="social-icons__item-svg social-icons__item-svg--instagram" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32">
			<use xlink:href="svg/instagram.svg#instagram" />
		</svg>
	</a>
</div>