<div class="teachers">
  <h2>Наши преподаватели</h2>
  <div class="owl-carousel teacher-slider owl-theme">
    <div class="item">
      <div class="teacher__img"><img src="img/teachers/natasha-cenova.png"></div>
      <div class="teacher__content">
        <h4>Наталья Ценова</h4>
        <div class="teacher__content-descr">
          <blockquote>Некоторые думают: Я сейчас отучусь и - бац! - стану звездой.<br>Для этого надо работать</blockquote>
        </div>
        <a href="" class="teacher__link">></a>
      </div>
    </div>
    <div class="item">
      <div class="teacher__img"><img src="img/teachers/natasha-cenova.png"></div>
      <div class="teacher__content">
        <h4>Наталья Ценова</h4>
        <div class="teacher__content-descr">
          <blockquote>Некоторые думают: Я сейчас отучусь и - бац! - стану звездой.<br>Для этого надо работать</blockquote>
        </div>
        <a href="" class="teacher__link">></a>
      </div>
    </div>
    <div class="item">
      <div class="teacher__img"><img src="img/teachers/natasha-cenova.png"></div>
      <div class="teacher__content">
        <h4>Наталья Ценова</h4>
        <div class="teacher__content-descr">
          <blockquote>Некоторые думают: Я сейчас отучусь и - бац! - стану звездой.<br>Для этого надо работать</blockquote>
        </div>
        <a href="" class="teacher__link">></a>
      </div>
    </div>
    <div class="item">
      <div class="teacher__img"><img src="img/teachers/natasha-cenova.png"></div>
      <div class="teacher__content">
        <h4>Наталья Ценова</h4>
        <div class="teacher__content-descr">
          <blockquote>Некоторые думают: Я сейчас отучусь и - бац! - стану звездой.<br>Для этого надо работать</blockquote>
        </div>
        <a href="" class="teacher__link">></a>
      </div>
    </div>
  </div>
  <a href="" class="teachers__all">Все преподаватели</a>
</div>