.button-link {
  display: block;
  padding: 17px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 50px;
  background: linear-gradient(to right, #f86, #dc4405);
  min-width: 280px;
  width: 280px;

  &:hover {
    background: linear-gradient(to right, #dc4405, #f86);
  }

  &__arrow-r {
    display: block;
    position: absolute;
    right: 18px;
    top: 18px;
    width: 9px;
    height: 9px;
    border-right: 3px solid $white;
    border-bottom: 3px solid $white;
    transform: rotate(-45deg);
  }
}