.course-global-slider {
  background-color: $bg-insta;
  position: relative;
  &.course-global-slider--shop {
    .owl-carousel {
      .owl-nav {
        top: calc(100% - 50px);
      }
      figcaption {
        font-size: 13px;
        color: $titles;
        position: absolute;
        text-align: center;
        bottom: 0;
        background-image: linear-gradient(to top, rgba(69, 69, 86, 1), rgba(188, 188, 194, 0));
        padding-top: 12px;
        padding-bottom: 12px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
      }
    }
  }
  &__title {
    @extend %container;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    font-weight: lighter;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    padding: 25px;
  }
  .owl-carousel {
    .owl-nav {
      display: flex;
      width: 100%;
      position: absolute;
      top: -80px;
      justify-content: space-between;
      button.owl-prev,
      button.owl-next {
        background-color: transparent;
        border: none;
        outline: none;
        &::before {
          border-left: 2px solid #fff;
          border-bottom: 2px solid #fff;
          width: 16px;
          height: 16px;
        }
        &:hover {
          background-color: transparent;
          &::before {
            border-color: #dc4405;
          }
        }
      }
      button.owl-prev {
        left: 4px;
      }
      button.owl-next {
        right: 8px;
      }
    }
  }
}

@media #{$tablet-widths} {
  .course-global-slider {
    padding-bottom: 40px;
    &.course-global-slider--shop {
      padding-bottom: 0;
      .owl-carousel {
        .owl-nav {
          top: calc(100% - 70px);
        }
        figcaption {
          font-size: 13px;
          color: $titles;
          position: absolute;
          text-align: center;
          bottom: 0;
          background-image: linear-gradient(to top, rgba(69, 69, 86, 1), rgba(188, 188, 194, 0));
          padding-top: 32px;
          padding-bottom: 32px;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
        }
      }
    }
    .owl-carousel {
      .owl-nav {
        top: -64px;
      }
    }
  }
}

@media #{$desktop-widths} {
  .course-global-slider {
    .owl-carousel {
      .owl-item {
        opacity: 0.5;
        &.active {
          opacity: 1;
        }
      }
      .owl-nav {
        max-width: 1200px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}