.enrolment{
  padding-top: 15px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  &__near{
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0;
  }
}
@media #{$tablet-widths}{
  .enrolment{
    flex-direction: row;
    justify-content: space-between;
    &__near{
      margin-top: auto;
      margin-bottom: auto;
      order: 1;
    }
    &__button{
      order: 2;
    }
  }
}