.extra {
  padding-top: 10px;
  margin: 0;
  font-size: 13px;
  color: $titles;

  dd {
    @extend %container5;

    padding: 1px 20px;

    a {
      text-transform: uppercase;
      font-size: 12px;
      &:hover {
        color: $titles;
      }
    }
  }

  span {
    font-size: 13px;
    color: #bbc;
    white-space: nowrap;

    &:nth-of-type(2) {
      text-transform: lowercase;
    }
  }

  &__item,
  &__price,
  &__duration {
    span {
      font-weight: bold;
    }
  }
}

@media #{$desktop-widths} {
  .extra {
    dd {
      width: auto;
    }
  }
}