.lenta {
  margin-bottom: 20px;
  &--blog {
    @extend %container;
    display: flex;
    flex-direction: column;
    .lenta__item {
      &-date {
        text-transform: uppercase;
        padding-left: 20px;
        padding-right: 20px;
        color: #bbc;
      }
      h2 {
        margin-top: -16px;
      }
    }
  }
  &__item {
    background-color: #fff;
    box-shadow: 0 20px 100px -30px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    &:hover {
      background-color: #ebecf3;
      .lenta__item-title,
      .lenta__item-descr,
      .extra {
        background-color: #ebecf3;
      }
    }
    &-title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 15px;
      line-height: 20px;
      padding: 20px;
      background-color: #fff;
      margin-bottom: 0;
      margin-top: -8px;
      border-bottom: 1px solid #ddd;
    }

    &-descr {
      padding: 1px 20px;
      background-color: #fff;
    }
  }

  &__image {
    margin: 0;
    text-align: center;
    overflow-x: hidden;

    img {
      width: auto;
      height: 100%;
      margin-left: 50%;
      transform: translateX(-50%);
    }

    figcaption {
      display: none;
    }
  }

  .extra {
    font-size: 14px;
  }
}

@media #{$tablet-widths} {
  .lenta {
    &--blog {
      flex-direction: row;
      .lenta__item {
        width: calc(50% - 20px);
        margin-left: auto;
        margin-right: auto;
        &:nth-of-type(n+3) {
          display: none;
        }
      }
    }
    &__item {
      &-title {
        color: #dc4405;
        padding-bottom: 18px;
      }
    }

    &__image {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media #{$desktop-widths} {
  .lenta {
    &--blog {
      .lenta__item {
        width: calc(25% - 20px);
        &:nth-of-type(n+3) {
          display: block;
        }
      }
    }
  }
}