.main-nav {
  border-right: 1px solid $lines-color;
  padding-right: 20px;
}

.main-nav__list {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #445;
  padding: 0;
  margin: 0;
  padding-top: 30px;
  padding-left: 19px;
  padding-right: 13px;
  list-style: none;
  &-item {
    padding-top: 13px;
    padding-bottom: 13px;
    &-arrow {
      display: block;
      float: right;
      font-size: 0;
      width: 6px;
      height: 6px;
      border-bottom: 2px solid #fff;
      border-left: 2px solid #fff;
      margin-left: 40px;
      margin-top: 6px;
      transform: rotate(-135deg);
    }
    & > a {
      color: #fff;
      text-transform: uppercase;
    }
  }
  a {
    text-decoration: none;
  }
  &-level1 {
    list-style: none;
  }
  &--closed {
    .main-nav__list {
      //      display: none;
    }
  }
  &--opened {
    .main-nav__list {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
    }
  }
}

.main-nav__toggle {
  margin-top: 17px;
  height: 15px;
  width: 20px;
  font-size: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #000;
    right: 0;
    top: 0;
    box-shadow: 0 6px 0 0 #000, 0 12px 0 0 #000;
  }
}