.major {
  display: flex;
  flex-direction: row;

  &--mid {
    @extend %container2;

    .major__m {
      &-elem {
        > * {
          @extend %container3;
        }
      }
    }
  }

  &__center {
    flex: 1;
  }

  &__m {
    &-elem {
      padding: 1px 0;

      > * {
        @extend %container5;

        padding: 1px 20px;
      }

      &--pad0 {
        > * {
          padding: 1px 0;
        }
      }

      &--grey {
        background-color: $bg-grey;
      }
      h1 {
        padding-right: 0;
      }
      &-date {
        padding-top: 10px;
        background-color: $bg-grey;
        div {
          padding-left: 20px;
          padding-right: 20px;
          box-sizing: border-box;
        }
        span {
          font-size: 13px;
          color: #bbc;
          white-space: nowrap;
          &:nth-of-type(2) {
            text-transform: lowercase;
          }
        }
      }
    }

    &-wrapper {
      &--grey {
        background-color: $bg-grey;
      }
    }

    &--solid {
      @extend %container3;

      padding: 1px 20px;

      .major__m-elem {
        > * {
          width: auto;
        }
      }
    }
  }

  &--index {
    width: 100%;

    .major__m {
      @extend %container;
    }
  }
}

.prime__category {
  background-color: $bg-grey;
  padding-top: 10px;
}

.prime__image {
  margin: 0;
  padding: 0;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  img {
    padding-top: 0;
    margin-bottom: -9px;
  }
  figcaption {
    font-size: 13px;
    color: $titles;
    position: absolute;
    text-align: center;
    bottom: 0;
    background-image: linear-gradient(to top, rgba(69, 69, 86, 1), rgba(188, 188, 194, 0.0));
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media #{$tablet-widths} {
  .prime__title {
    background-color: $bg-grey;
  }
}