.major {
  display: flex;
  flex-direction: row;

  &--mid {
    @extend %container2;

    .major__m {
      &-elem {
        > * {
          @extend %container3;
        }
      }
    }
  }

  &__center {
    flex: 1;
  }

  &__m {
    &-elem {
      padding: 1px 0;

      > * {
        @extend %container5;

        padding: 1px 20px;
      }

      &--pad0 {
        > * {
          padding: 1px 0;
        }
      }

      &--grey {
        background-color: $bg-grey;
      }
    }

    &-wrapper {
      &--solid {
        background-color: $bg-grey;
      }
    }

    &--solid {
      @extend %container3;

      padding: 1px 20px;

      .major__m-elem {
        > * {
          width: auto;
        }
      }
    }
  }

  &--index {
    width: 100%;

    .major__m {
      @extend %container;
    }
  }
}