.major {
  display: flex;
  flex-direction: row;

  &--mid {
    @extend %container2;

    .major__m {
      &-elem {
        > * {
          @extend %container3;
        }
      }
    }
  }
  &__center {
    flex: 1;
  }

  &__m {
    &-elem {
      padding: 1px 0;

      > * {
        @extend %container5;

        padding: 1px 20px;
      }

      &--pad0 {
        > * {
          padding: 1px 0;
        }
      }

      &--blue {
        background-color: $lines-grey;
      }

      &--grey {
        background-color: $bg-grey;
      }
    }

    &-wrapper {
      &--grey {
        background-color: $bg-grey;
      }
    }

    &--solid {
      @extend %container3;

      padding: 1px 20px;

      .major__m-elem {
        > * {
          width: auto;
        }
      }
    }

    &--grey {
      background-color: $bg-grey;
    }
  }

  &--index {
    width: 100%;

    .major__m {
      @extend %container;
    }
  }
}

.prime__category {
  background-color: $bg-grey;
  padding-top: 10px;
}

@media #{$tablet-widths} {
  .major {
    &__m {
      &--tablet {
        border-bottom: 1px solid $lines-grey;
      }
    }
  }
}

@media #{$desktop-widths} {
  .major {
    &__m {
      &--tablet {
        border-bottom: none;
        width: 768px;
        padding-left: 0;
        padding-right: 0;
      }
      &-wrapper--desktop-border {
        border-bottom: 1px solid $lines-grey;
      }
    }
  }
}