.page-footer {
  background-color: $bg-foot;
  color: $white;
  overflow: hidden;
  padding-top: 20px;

  &__line {
    @extend %container;

    @extend %grid-padding20;

    box-sizing: border-box;
    border-bottom: 1px solid $dividers;
    display: flex;
    flex-direction: column;
  }

  &__wrapper {
    &--copyright {
      border-top: 1px solid $dividers;
    }
  }

  a {
    text-decoration: none;
    color: $white;

    &:hover {
      color: $titles;
    }
  }

  &__title {
    color: $titles;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin: 10px 0;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;

    &-bunch {
      display: flex;
      flex-direction: row;

      &-left {
        width: 60px;
        font-size: 16px;
      }

      &-right {
        font-size: 14px;
        font-weight: 100;
      }
    }
  }

  &__copyright {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__payment {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
    width: 280px;

    svg {
      height: 32px;
      fill: #fff;
      margin: 0 auto;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media #{$tablet-widths} {
  .page-footer {
    &__line {
      flex-direction: row;
      justify-content: space-between;
    }

    &__wrapper {
      &--copyright {
        border: 0;
      }
    }
  }

  @media #{$desktop-widths} {
    .page-footer {
      &__line2 {
        display: flex;
        flex-direction: row;

        .page-footer__wrapper {
          &--social {
            margin-right: 100px;
          }
        }
      }
    }
  }
}