.page-header {
  &__cap {
    @extend %container;

    @extend %grid-padding20;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;

    &-logo {
      display: block;
      line-height: 0;

      & img {
        width: 200px;
      }
    }
    &-arrow {

      font-size: 0;
      width: 40px;
      height: 40px;
      transform: rotate(-45deg) translateY(-4px);
      margin-top: auto;
      margin-bottom: auto;
      a {
        display: block;
        height: 100%;
        width: 100%;
        position: relative;
        &::before {
          content: "";
          border-top: 2px solid #333;
          border-left: 2px solid #333;
          width: 12px;
          height: 12px;
          @extend %center
        }
        &:hover::before {
          border-top-color: $orange;
          border-left-color: $orange;
        }
        &:active::before {
          opacity: 0.5;
        }
      }

    }
    &-info {
      display: none;
    }
  }

  &__bar {
    @extend %container;

    @extend %grid-padding20;

    display: flex;
    border-top: 1px solid $lines-color;
    border-bottom: 1px solid $lines-color;
    position: relative;

    &-search {
      margin-left: auto;
      padding-top: 15px;
      padding-bottom: 7px;
      padding-left: 20px;
      border-left: 1px solid $lines-color;
      transition: 0.5s all;
      &--open {
        padding-left: 85px;
      }
      &-item {
        position: relative;
        display: block;
        min-width: 20px;
        min-height: 20px;
        &:hover {
          svg {
            fill: $orange;
          }
        }
        input {
          outline: none;
          width: 20px;
          opacity: 0;
          height: 100%;
          left: 0;
          top: 0;
          background-color: transparent;
          border: none;
          transition: 0.5s all;
          z-index: 10;
          cursor: pointer;
          &:focus {
            opacity: 1;
            margin-left: -80px;
            border-bottom: 2px solid $orange;
            width: 80px;
            padding-right: 20px;
            transition: 0.5s all;
            cursor: text;
          }
        }
        svg {
          width: 20px;
          fill: #000;
          position: absolute;
          @extend %center;
          z-index: -1;
          padding-bottom: 2px;
        }
      }

      @media #{$tablet-widths} {
        margin-left: 0;
      }

      img {
        width: 19px;
        height: 19px;
      }
    }
  }
}

@media #{$tablet-widths} {
  .page-header {
    &__cap {
      display: flex;
      flex-direction: row;

      &-info {
        display: block;
        margin-left: auto;

        a {
          color: $text-light;
          text-decoration: none;
          font-size: 28px;
        }

        p {
          margin: 0;
          font-weight: 100;
        }
      }

      &-logo {
        img {
          width: 262px;
        }
      }
    }
  }
}