.pagination {
  background-color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 10px;
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
  li {
    flex-grow: 2;
    text-align: center;
  }
  a {
    color: $titles;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    &:hover {
      color: #dc4405;
    }
    &:active {
      color: #445;
    }
  }
  &-prev,
  &-next {
    font-size: 0;
    border-top: 1.5px solid #dc4405;
    border-left: 1.5px solid #dc4405;
    width: 10px;
    height: 10px;
    flex-grow: 0 !important;
    &:hover {
      opacity: 0.5;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &-prev {
    transform: rotate(-45deg) translateY(7px);
    margin-right: 10px;
  }
  &-next {
    transform: rotate(135deg) translateY(-7px);
    margin-right: 10px;
  }
  &-start,
  &-end {
    span,
    a {
      color: #dc4405;
      &:hover {
        opacity: 0.5;
        color: #dc4405;
      }
    }
    font-size: 40px;
    transform: translateY(-1px);
    font-weight: lighter;
  }
  &-start {}
  &-end {}
}

@media #{$tablet-widths} {
  .pagination {
    margin-bottom: 40px;
    a {}
    &-start {}
    &-end {}
  }
}