.pagination {
  background-color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 10px;
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
  a {
    color: $titles;
    &:hover {
      color: #dc4405;
    }
    &:active {
      color: #445;
    }
  }
  &-prev,
  &-next {
    font-size: 0;
    border-top: 1.5px solid #dc4405;
    border-left: 1.5px solid #dc4405;
    width: 10px;
    height: 10px;
    &:hover {
      opacity: 0.5;
    }
  }
  &-prev {
    transform: rotate(-45deg) translateY(7px);
  }
  &-next {
    transform: rotate(135deg) translateY(-7px);
  }
  &-start,
  &-end {
    span,
    a {
      color: #dc4405;
      &:hover {
        opacity: 0.5;
        color: #dc4405;
      }
    }
    font-size: 40px;
    transform: translateY(-1px);
    font-weight: lighter;
  }
  &-start {
    margin-left: 10px;
    margin-right: -8px;
  }
  &-end {
    margin-right: 10px;
  }
}

@media #{$tablet-widths} {
  .pagination {
    margin-bottom: 40px;
    &-start {
      margin-left: 25px;
      margin-right: -20px;
    }
    &-end {
      margin-right: 29px;
      margin-left: -20px;
    }
  }
}