.prime {
  &__title,
  &__level-value {
    background-color: $white;
  }

  &__image {
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    img {
      padding-top: 0;
      margin-bottom: -9px;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }

    figcaption {
      font-size: 13px;
      color: $titles;
      position: absolute;
      text-align: center;
      bottom: 0;
      background-image: linear-gradient(to top, rgba(69, 69, 86, 1), rgba(188, 188, 194, 0));
      padding-top: 40px;
      padding-bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
    }
    blockquote {
      font-weight: lighter;
      font-size: 20px;
      line-height: 30px;
      margin: 0;
      margin-top: 15px;
      position: relative;
    }
  }

  &__level-value {
    padding-bottom: 30px;
    margin-top: -10px;
  }
}

@media #{$tablet-widths} {
  .prime {
    &__title,
    &__level-value {
      background-color: $bg-grey;
    }

    &__image {
      &--left {
        img {
          float: left;
          width: auto;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        blockquote {
          float: left;
          margin-top: 40px;
          max-width: 50%;
        }
      }
      &--right {
        img {
          float: right;
          width: auto;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        blockquote {
          text-align: left;
          margin-top: 40px;
          max-width: 50%;
          &::before {
            content: "«";
            position: absolute;
            top: 0;
            left: -40px;
            font-size: 40px;
            color: #bbc;
            margin-left: 0;
          }
          &::after {
            content: "»";
            position: absolute;
            bottom: 0;
            font-size: 40px;
            margin-left: 40px;
            color: #bbc;
          }
        }
      }
    }
  }
}

@media #{$desktop-widths} {
  .prime {
    &__image {
      box-sizing: border-box;
      &--left {
        img {
          width: 50%;
          margin-top: 0px;
        }
        blockquote {
          margin-bottom: 160px;
          &::before {
            left: -20px;
          }
          &::after {
            margin-left: 0;
          }
        }
      }
      &--right {
        img {
          width: 50%;
          margin-top: -60px;
        }
        blockquote {
          margin-bottom: 160px;
          &::before {
            left: -20px;
          }
          &::after {
            margin-left: 0;
          }
        }
      }
    }
  }
}