.prime__image {
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  img {
    padding-top: 0;
    margin-bottom: -9px;
    padding-left: 0;
    padding-right: 0;
  }
  figcaption {
    font-size: 13px;
    color: $titles;
    position: absolute;
    text-align: center;
    bottom: 0;
    background-image: linear-gradient(to top, rgba(69, 69, 86, 1), rgba(188, 188, 194, 0.0));
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.prime__title {
  &-courses {
    margin-bottom: 0;
  }
}

@media #{$tablet-widths} {
  .prime__title {
    background-color: $bg-grey;
  }
  .prime__image--grey {
    background-color: $bg-grey;
  }
}

@media #{$desktop-widths} {
  .prime__title {
    &-courses {
      padding-left: 50px;
    }
  }
  .item-page {
    & > .prime__image,
    & > .major__m-elem div {
      padding-left: 50px;
      padding-right: 50px;
    }
    .major__m-elem > p,
    .major__m-elem > h2 {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}